[2018-06-07 23:54] Tobotimus commented on #1824
Yep, totally agreed. What are people's thoughts on replacing `[p]` with the prefix as well?

[2018-06-08 15:12] tekulvw commented on #1801
Fixed with #1823

[2018-06-08 15:12] #1801 closed, assigned to nobody

[2018-06-08 17:26] #1637 closed, assigned to Twentysix26

[2018-06-08 23:20] tekulvw commented on #1800
I don't believe that code to enforce single object instantiation is necessary as there's absolutely no reason why we would ever re-instantiate the singletons. They are created in a non-public part of the API as part of the bootstrapping process within the bot.

Any singleton that doesn't require a reference to the bot object would simply be instantiated at runtime and the rest would be instantiate

[2018-06-08 23:24] mikeshardmind commented on #1800
That's a fair assessment based on the current singletons, but having it could also simplify safe access to them without needing to attach them to the bot. It's a thought and nothing more on this, and it probably is overengineering it at the current state.

[2018-06-08 23:40] mikeshardmind commented on #1526
Adding to this: `pygettext` will NOT parse f-strings, so strings passed to `Translator` can be passed to f-strings, but you can't pass f-string to it.

[2018-06-09 00:19] tekulvw commented on #1819
Fixed with #1821

[2018-06-09 00:19] #1819 closed, assigned to Tobotimus

[2018-06-09 00:27] tekulvw commented on #1775
Fixed with #1777

[2018-06-09 00:27] #1775 closed, assigned to nobody

[2018-06-09 00:39] tekulvw commented on #1690
Fixed with #1828

[2018-06-09 00:39] #1690 closed, assigned to nobody

[2018-06-09 00:44] tekulvw commented on #1797
Fixed with #1808

[2018-06-09 00:44] #1797 closed, assigned to Tobotimus

[2018-06-09 00:49] tekulvw commented on #885
Fully implemented with #1826 and #1827

[2018-06-09 00:49] #885 closed, assigned to nobody

[2018-06-09 00:54] tekulvw commented on #1785
Fixed with #1790

[2018-06-09 00:54] #1785 closed, assigned to nobody

[2018-06-09 01:02] tekulvw commented on #1807
Fixed with #1813

[2018-06-09 01:02] #1807 closed, assigned to nobody

[2018-06-09 01:08] tekulvw commented on #1816
Fixed with #1822

[2018-06-09 01:08] #1816 closed, assigned to nobody

[2018-06-09 01:12] tekulvw commented on #1815
Fixed with #1820

[2018-06-09 01:12] #1815 closed, assigned to Tobotimus

[2018-06-09 01:20] tekulvw commented on #967
Fixed with #1817

[2018-06-09 01:20] #967 closed, assigned to nobody

[2018-06-09 01:54] mikeshardmind commented on #1824
I think filling with format is a more pythonic handling and makes more sense since this will only ever be developer facing, users will only see the end result.

Here's the full list of useful parameter's I would want to fill with

`{me}` this gets the bot user or member (based on context)
`{prefix}` the `clean_prefix` from helpformatter
`{author}` the author object

Additionally, I'd like to inclu

[2018-06-09 03:27] Eslyium opened #1831 "[V3 Streams] Toggle Mention Permissions when live"
# Feature request

#### Select the type of feature you are requesting:

- [x] Cog
- [ ] Command
- [ ] API functionality

#### Describe your requested feature
Due to servers that may use streamalerts in large servers who use a role mention, If the role is not mention-able that they set for the streamalert have the bot turn on the permission for mentioning announce the stream and then turn off the p

[2018-06-09 16:02] The-Tasty-Jaffa commented on #1398
My v3 cogs are at `https://gitlab.com/The_Tasty_Jaffa/Tasty-Jaffa-cogs` and the branch is `v3/release`
(Note: It's a Gitlab repo not Github as I have moved my development to Gitlab (so many new features to me))

[2018-06-10 02:32] Tobotimus opened #1841 "[V3 Utils] Make markdown helpers escape special chars"
# Feature request

#### Select the type of feature you are requesting:

- API functionality

#### Describe your requested feature
Currently we have a bunch of helpers in `redbot.core.utils.chat_formatting`, including those which simply return some string formatted in some way with markdown, i.e. `bold`, `italics`, `inline` etc. All they do now is wrap the input string in the formatting delimiters

[2018-06-10 03:50] Sashasonic commented on #779
Embed Whiz (not sure if that's done already.. sometimes it's not long enough - ie: time for each step) or maybe even a link to one like the Nadeko Embed maker / builder uses; but a custom one for Red v3

[2018-06-10 14:02] Tobotimus commented on #1824
I support all of those propositions, but I also think `[p]` is worth replacing with `clean_prefix` since it's an existing habit amongst cog creators for referring to the prefix, and occurs throughout existing docstrings - it's an enhancement to the UX without cog creators having to make any changes.

I can't see any reason not to include the full objects in this case. As you've basically pointed o

[2018-06-10 16:48] Ray-MRQ opened #1845 "[V3] Audio: Multiple skips"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

Skip more than one song, incredibly useful if you've got playlists with over 100 songs..

[2018-06-10 17:35] Kio-td opened #1846 "[V3] Request- Per server Cog disabling?"
I'm curious if there will be support to disable cogs per server in the future.

[2018-06-10 19:00] Eslyium commented on #1845
Now let me ask why would you want to skip more than one song? If its a playlist you put together just use the shuffle command to have the bot go around to different songs, I really don't see why this would be implemented.

[2018-06-10 19:02] Ray-MRQ commented on #1845
Okay, this my own playlist of over 330 songs. https://www.youtube.com/playlist?list=PLY1qMW_YV-SMFNl8qoU1daXpx15Kdl_hs

Dislike shuffle due to having my better songs at the top, however, I've got some goods stuff at the bottom, skipping instead of shuffling guarantees my chances of getting that song I want, whereas shuffle may take a while.

An example tracks from 110 -120 I quite like, so instead

[2018-06-10 19:14] Eslyium commented on #1845
You can use the bump command to push the songs you like up the list and then save it in that format.

[2018-06-10 19:19] Ray-MRQ commented on #1845
Can't save if the playlist gets updated every few days, as well as, bumping 10-20 songs is a bit much..

[2018-06-10 19:54] mikeshardmind commented on #1846
There already is with the permissions cog.

[code]
For more details on this, see the [docs page on permissions](http://red-discordbot.readthedocs.io/en/v3-develop/cog_permissions.html)

[2018-06-11 01:45] mikeshardmind commented on #1824
I think `[p]` is better used to represent that any prefix could be used, while actually inserting the current prefix is better if instructing on usage for a specific command. It's a subtle distinction, but I can think of at least a few ways this separation could be useful.

[2018-06-11 03:49] Kowlin commented on #1846
Can confirm that this is done by doing the above. Also know that you can do ``permissions addglobaldefault deny SomeCog``. Closing this.

[2018-06-11 03:49] #1846 closed, assigned to nobody

[2018-06-11 04:59] Tobotimus commented on #1824
Well I was going to just say we agree to disagree, but as it turns out the `[p]` in command help is already being replaced. The more you know!

[2018-06-11 05:10] Kowlin opened #1850 "[Help] Uncought Permissions Forbidden error"
Following exception occurs when the bot cannot send a message to the user. when using ``help``

[code]

[2018-06-11 05:16] tekulvw commented on #1850
~~This is a 3rd party cog bug.~~

[2018-06-11 05:27] Kowlin opened #1851 "[Warnings] Feedback"
Alright... I've putted this off for long enough. Lets throw some feedback! I'm going into this as someone who has never tried out Warnings and going in blind.

### Verbose warnings
Lets start with the obvious elephant in the room. It doesn't actually send a warning to the warned user which in my opinion kinda beats the point of warning users. I've tried looking at it from many different angles on

[2018-06-11 11:22] laggron42 opened #1852 "[V3 Mod] Make mute server use a role"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

The `[p]mute server` edit every channel permissions. This requires a lot of API calls and is really slow to operate (it takes about 6 seconds for 10 channels, so imagine on huge servers) and we could reduce that time by muting using a role i

[2018-06-11 11:25] Tobotimus opened #1853 "[V3 JSON] Direct reference to mutable datastore being returned"
# Other bugs
The JSON driver is returning direct references to the driver's cache. This is should not be happening as mutating the returned value will cause the mutation to also occur in the cache. This can be shown by the following:
[code]

IMO it's the driver's responsibility to return a copy from its `get()` method, not Config's.

[2018-06-11 11:35] Tobotimus commented on #1853
Just a note:
The example I provided will only occur if `self.conf.dict()` is actually being retrieved from the driver, not from Config's defaults. That is, the config value must be manually `set()` first, then this symptom will occur.

[2018-06-11 11:50] Tobotimus commented on #1853
There is a similar issue with setting a value and then mutating it afterwards:

[code]

[2018-06-11 12:15] mikeshardmind opened #1857 "[V3 Config] Detect changes on backend, and only write when there are changes."
- [ ] Cog
- [ ] Command
- [X] API functionality

Right now, config will always write when using a context manager, there's no need for this since we should be returning a copy of the data, not the original (see #1855 ). While this can be avoided in some cases by a design choice, there may also be cases where the code doesn't know if something needs to change in the mutable data until checking it.

[2018-06-11 16:31] tekulvw commented on #1853
Fixed with #1855

[2018-06-11 16:31] #1853 closed, assigned to Tobotimus

[2018-06-12 13:32] Kowlin opened #1863 "[Cleanup] Cleanup messages cleans up 1 to many messages"
# Command bugs

#### Command name

cleanup messages <amount>

#### What cog is this command from?

Cleanup

#### What were you expecting to happen?

We all know this, cleaning up the exact amount of messages provided in amount.

#### What actually happened?

``cleanup messages`` will clean up the messages + 1, as example if you cleanup 5 messages, it will cleanup 6 messages. Its unknown to me if t

[2018-06-12 16:19] javascripto commented on #1398
https://github.com/javascripto/syxcogs V3 Cogs, simple and clean but haven't seen such as them.

[2018-06-12 20:50] palmtree5 opened #1866 "[V3 Downloader] bot_version info.json key not used"
# Other bugs

#### What were you trying to do?

Try putting the minimum required bot version in the info.json

#### What were you expecting to happen?

This version to be checked

#### What actually happened?

There is no check for it in the code

#### How can we reproduce this issue?

1. Put the `bot_version` key in the `info.json` with a value that should cause the cog to not install
2. Try inst

[2018-06-15 15:42] BMCSamael commented on #12
I had corrected the camel case from my original submission a while ago.. I am linking the new version.

I hadn't added more "not behind the scenes" stuff.

[startrek.txt](https://github.com/Cog-Creators/Red-DiscordBot/files/2106636/startrek.txt)

[2018-06-15 17:56] Yukinekos opened #1870 "Bad Audio Quality When Playing From Local Files...?"
Hi.

Just like the title says; whenever I play anything from my local files with the red bot the quality just seems.. bad. All my music files are 320k and other bots (which don't play from local apart from 1) play in standard quality at least. Unlike red.

Is there anything I can do to fix this?

Thanks

[2018-06-15 17:58] aikaterna commented on #1870
The bot streams at 64k and it's also limited by the bitrate of your voice channel (max 96 unless you're on a partnered server, then it's 128).

[2018-06-15 23:23] Yukinekos commented on #1870
Oh... 64k is so low that's sad ;/

[2018-06-16 19:06] palmtree5 opened #1873 "[V3 Filter] Possible improvements"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

Some possible improvements to the Filter cog include:

- Channel-specific filters
- Regex-based filters

Feel free to comment with more below and I'll look into possibly adding them.

[2018-06-16 19:22] mikeshardmind commented on #1873
Hey, if this is happening, can we also split the logic for if a message should be filtered out to something 3rd party cogs can use too, as well as return the content it matched? This could be incredibly useful to anyone extending base functionality for moderation purposes

[2018-06-17 03:39] skeith commented on #1873
If we are going to add channel specific filter, might as well add role based filter too

[2018-06-17 04:38] Tobotimus commented on #1873
We have to be mindful that adding features for the filter has a performance hit, as the filter check is run for every message which is sent. I don't think we should add a role-based filter just because we're adding a channel filter, unless there is really a need for one.

[2018-06-17 05:02] skeith commented on #1873
well, the role based filter is actually has a use case

sometimes, we only want a specific role can post discord invite links
while I understand I can restrict it with channel permission, but that would make the channel read only for all other users

I also hope that this filter works both way as in blacklisting and whitelisting

[2018-06-17 05:51] Tobotimus commented on #1873
I can understand that.

So I suppose the filtered words for a message would resolve to the union of the guild's filter, channel's filter and role filters? I can already sort of see where people might be confused by this and think the channel's filter would completely override the guild's filter... How would the role filter fit in there as well? Does something take precedence? IMO it gets a little

[2018-06-17 05:55] Tobotimus commented on #1873
I think doing something like what @mikeshardmind is suggesting would be better than adding a role-based filter to the core cog, that way cog creators could implement their own filters for their more niche use cases.

[2018-06-17 06:14] mikeshardmind commented on #1873
role settings for filter immunity would be neat, but I think extra filters per role might get convoluted

[2018-06-17 06:22] Tobotimus commented on #1873
That's what I was thinking, perhaps just adding roles as exempt from the filter would be a better solution, albeit slightly less customisable. As of right now we just exempt people with the mod/admin role, the owner, and other bots. And halfway through typing this message @palmtree5 has informed me this will indeed be supported :smile:

[2018-06-18 19:41] laggron42 opened #1875 "[Cog creation] Should we use the f-strings?"
Since we can use Python 3.6 functionalities, we can finally use the new f-strings. That replaces the str.format function that was limited to the values in the given arguments. The f-strings doesn't need arguments and just takes the existing values in the code.

I noticed something, if we let the user format itself a string (for a welcomer cog for example, where formatting with {values} is needed),

[2018-06-18 19:47] palmtree5 commented on #1875
just fyi, if you're supporting i18n, f-strings won't work with pygettext
iirc

On Mon, Jun 18, 2018, 11:41 AM El Laggron <notifications@github.com> wrote:

[2018-06-18 21:56] mikeshardmind commented on #1875
Don't ever treat user provided input as f-strings
1.
[code]
2.
[code]
3.
[code]

Every single one of those is problematic for a different reason, and you risk all of them by treating user input as an f-string.

[2018-06-18 22:03] laggron42 commented on #1875
I think I'll keep format for strings made by users then, thanks for the confirmation!

[2018-06-18 22:03] #1875 closed, assigned to nobody

[2018-06-20 02:26] mikeshardmind opened #1877 "[V3 Permissions] UX"
I'll be going through and improving permissions UX a bit later. There are a couple of things which were pointed out by @retke which can be improved. Namely:

- [x] Consistent Argument ordering
- [x] Consistent way to remove settings

[2018-06-20 06:29] laggron42 commented on #1877
Also, I don't know how this should be done, but maybe we could add something so we can print a message when the rules doesn't allow the execution of a command.

For example, if we aren't in an authorised voice channel and we try to use the Audio cog, the bot should output something like "I cannot join that voice channel".

[2018-06-20 09:59] laggron42 commented on #1877
And also, if I can add some suggestions, I'd like these features in the permissions cog:

- Be able to select everything (instead of a cog or a command), so you can do things like lock all commands everywhere except in the #bot channel.

- Be able to select multiple objects and combine them (for example x role can use y command in z channel only, while the others can't)

[2018-06-20 10:25] mikeshardmind commented on #1877
I feel like both of those are out of scope for what permissions is aimed at doing. That said, if you want either of those behaviors, here's a brief demo of the extensibility built into permissions (not thoroughly documented yet) for such special cases.

[code]

[2018-06-20 17:14] mikeshardmind opened #1880 "[V3 commands] commands.parents"
Currently, both `[p]permissions canrun` as well as command fuzzy search assume all command objects our ours. The logic for command parents needs to be moved somewhere else, or we need to find a way to enforce using our classes, as neither of these work properly when interacting with 3rd party cogs not using our commands override.

[2018-06-21 00:00] aikaterna opened #1881 "[V3 Help] Restricted command groups display commands"
#### Command name
Group commands that are core with checks for permissions, examples are [p]economyset, [p]cog, [p]repo

#### What cog is this command from?
Downloader and Economy

#### What were you expecting to happen?
Users that don't have permissions for these commands should not receive help when using the commands

#### What actually happened?
A user with no special permissions used [p]repo

[2018-06-21 00:25] mikeshardmind commented on #1881
Issue introduced in #1790 working on a fix.

[2018-06-21 04:58] DemonRem opened #1883 "Blade & Soul Emojis"
wonder maybe it's possible to add blade & soul emojis , or how I can do it?,

I am sorry I have no clue in development

[2018-06-21 16:50] mikeshardmind opened #1884 "[V3] Dev commands and discord.ext.commands"
Right now, debug/eval (and repl, maybe?) expose `discord.ext.commands` as `commands` Given that we subclass various things in this for our use in `redbot.core.commands`, shouldn't we be exposing our version? In either case, the other is still importable, but it seems our default should be to use our version.

[2018-06-22 04:50] Eslyium commented on #1883
You can put the emojis in on your server by itself through Server Settings -> Emoji as long as you have the files for it.

Other than doing that it would have to be in a cog made by you or someone else which you could request [here](https://cogboard.red/) under the bounties section.

[2018-06-22 08:21] DemonRem commented on #1883
@Eslyium

Thank you very much

[2018-06-23 00:35] xenicle opened #1886 "[V3 audio] command play always respond "nothing found""
When I it the command Play on my red bot get this error :

`[23/06/2018 00:24] ERROR events on_command_error 210: Exception in command 'play'
Traceback (most recent call last):
  File "/home/xen/.local/lib/python3.6/site-packages/discord/ext/commands/core.py", line 62, in wrapped
    ret = yield from coro(*args, **kwargs)
  File "/home/xen/.local/lib/python3.6/site-packages/redbot/cogs/audio/audio

[2018-06-23 00:37] shikhir-arora commented on #1886
Make sure your bot has permissions to send embed messages in that channel.

[2018-06-23 00:48] xenicle commented on #1886
Thanks a lot no more error !

But now how I play a youtube url because it respond "nothing found" for this example : *play https://www.youtube.com/watch?v=y_VLq2PjDvQ or for this *play Tor - Heikki

there nothing found for any play request...

[2018-06-23 01:05] xenicle commented on #1886
I have more information from Audio log :

[00:55:04] [lava-daemon-pool-info-loader-2-thread-1] [AudioLoader] Load failed
com.sedmelluq.discord.lavaplayer.tools.FriendlyException: Something went wrong when looking up the track
        at com.sedmelluq.discord.lavaplayer.tools.ExceptionTools.wrapUnfriendlyExceptions(ExceptionTools.java:40)
        at com.sedmelluq.discord.lavaplayer.player.DefaultAu

[2018-06-23 01:33] Tobotimus commented on #1521
Now available with #1858 :smiley:

[2018-06-23 01:33] #1521 closed, assigned to nobody

[2018-06-23 02:15] Tobotimus commented on #1857
Resolved by #1859

[2018-06-23 02:15] #1857 closed, assigned to nobody

[2018-06-23 02:58] Crossedfall opened #1887 "[V3 Audio] Unable to create empty playlists"
# Command bugs

#### Command name

`[p]playlist create <name>`

#### What cog is this command from?

Audio

#### What were you expecting to happen?

A empty playlist called <name> should be created

#### What actually happened?

Nothing

#### How can we reproduce this issue?

1. Create a brand new bot instance
2. Attempt to add a new playlist
3. Attempt to list or append tracks to the new playlist

[2018-06-23 03:08] Crossedfall opened #1888 "[V3 Audio] Creating a playlist from queue can generate duplicate playlists"
# Command bugs

#### Command name
`[p]playlist queue`

#### What cog is this command from?

Audio

#### What were you expecting to happen?

A single new playlist of <name> to be generated from the current queue.

#### What actually happened?

On_message wait allows for duplicate playlist generation if the `[p]playlist queue` command is ran again

#### How can we reproduce this issue?

1. Load musi

[2018-06-23 20:50] Kowlin commented on #1887
Cannot repro this on my instance.

[2018-06-23 22:55] palmtree5 commented on #1873
I'm planning on allowing for exempting specific roles and users from a filter

[2018-06-24 09:06] MrUnknownDE opened #1893 "<p>cleanup messges"
Hello,

I found a bug. The command `<p> cleanup messages` does not deal with an error in the console ...
I ask for help

Best regards
Johannes | MrUnknownDE

**Error in the Console:**
`[24/06/2018 11:01] ERROR red on_command_error 369: Exception in command 'cleanup messages'
Traceback (most recent call last):`
`  File "lib/discord/ext/commands/core.py", line 50, in wrapped`
`    ret = yield from c

[2018-06-24 09:45] Tobotimus commented on #1893
@MrUnknownDE Thanks for opening an issue.

Unfortunately, you cannot use `[p]cleanup` on messages more than 14 days old. That's a rule set by discord, not us. In V3, cleanup never tries to delete messages older that 14 days to prevent this error, but this is unlikely to be backported to V2, sorry. Closing

[2018-06-24 09:45] #1893 closed, assigned to nobody

[2018-06-24 18:58] ghost opened #1894 "[V3] cog_data_path() returning wrong path"
# Other bugs

#### What were you trying to do?

Grab the data path of a cog not installed in the default install path.

#### What were you expecting to happen?

The cog being able to grab the data directory content.

#### What actually happened?

`cog_data_path()` returned the default install path instead of the new install path, which made the cog error because it couldn't find the files it was l

[2018-06-24 19:58] xenicle commented on #1886
I've tryed to add youtube.com cacert to java keystore whitout result... (https://confluence.atlassian.com/kb/connecting-to-ssl-services-802171215.html)

Any ID ?

[2018-06-24 21:18] coltoutram commented on #1398
https://github.com/coltoutram/Colts-Cogs v3 cogs are in main branch, develop branch is what I'm testing so dont include those cogs.

[2018-06-25 04:03] #1883 closed, assigned to nobody

[2018-06-25 09:25] Tobotimus commented on #1466
Added in #1872.

[2018-06-25 09:25] #1466 closed, assigned to Tobotimus

[2018-06-25 11:20] Tobotimus commented on #1887
Resolved by #1889.

[2018-06-25 11:20] #1887 closed, assigned to nobody

[2018-06-25 11:33] Tobotimus commented on #1881
Resolved by #1882.

[2018-06-25 11:33] #1881 closed, assigned to nobody

[2018-06-25 11:45] Tobotimus commented on #1863
Resolved by #1864.

[2018-06-25 11:45] #1863 closed, assigned to nobody

[2018-06-25 12:37] bobloy commented on #1398
Added all the posted repos besides the V2 one

[2018-06-25 15:35] coltoutram commented on #1398
Hey you put mine up as liante-cogs instead of Colts-Cogs 🤔

[2018-06-26 11:49] stampysmith commented on #1399
??

On Wed, 7 Mar 2018 3:02 am Will, <notifications@github.com> wrote:

[2018-06-26 12:18] pgaetani commented on #1399
Provide the full error and a description of what you were doing in a new issue, "Red Discord bot active code 65001" says absolutely nothing.

[2018-06-27 00:56] xenicle opened #1897 "[V3] error when trying to install"
# Other bugs

When I'm trying to install Red-DiscordBot I get an error

#### What were you trying to do?

Trying to install red-discordbot

#### What were you expecting to happen?

red-discordbot was installed

#### What actually happened?

get this error message :

pip3 install -U --process-dependency-links red-discordbot[voice] --user

Collecting red-discordbot[voice]
Requirement not upgraded as

[2018-06-27 01:03] skeith commented on #1897
Please head to the support channel on discord instead

[2018-06-27 01:20] #1897 closed, assigned to nobody

[2018-06-27 01:58] xenicle commented on #1886
Solved see red#1704

[2018-06-27 01:58] #1886 closed, assigned to nobody

[2018-06-28 12:25] camfsd opened #1900 "Requirement Installation Error"
# Other bugs

#### What were you trying to do?

Attempting to install basic requirements + audio requirements through launcher

#### What were you expecting to happen?

Installation without any errors

#### What actually happened?

Error at end of proccess:
`Command "C:\Users\Administrator\AppData\Local\Programs\Python\Python37-32\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\

[2018-06-28 12:25] pgaetani commented on #1900
`Python37-32`

Use python 3.5 please

[2018-06-28 12:31] camfsd commented on #1900
Same error.

[2018-06-28 12:32] pgaetani commented on #1900
Post a screenshot of the error you got with 3.5 please.

[2018-06-28 12:33] camfsd commented on #1900
[![Screenshot from Gyazo](https://gyazo.com/3f633c3f4008ea3bc3df7900fa47a06a/raw)](https://gyazo.com/3f633c3f4008ea3bc3df7900fa47a06a)

[2018-06-28 12:33] laggron42 commented on #1900
Also you're not providing the full error. The error starts at the line "Traceback (most recent call)" (not in red). Please paste everything from there.

[2018-06-28 12:34] pgaetani commented on #1900
Look at the path in the error, you're still using 3.7, uninstall 3.7 completely and then install 3.5, afterwards, restart the instance.

[2018-06-28 12:35] pozzzzy commented on #1900
[![Screenshot from Gyazo](https://gyazo.com/dea559bbc82f6ab154546e84cd1cc04c/raw)](https://gyazo.com/dea559bbc82f6ab154546e84cd1cc04c)

[2018-06-28 12:40] camfsd commented on #1900
After rebooting instance twice:
[![Screenshot from Gyazo](https://gyazo.com/c55c367e8934a980abdeab8d92884182/raw)](https://gyazo.com/c55c367e8934a980abdeab8d92884182)

[2018-06-28 12:45] camfsd commented on #1900
Nevermind, Working. Thanks for the speedy help.

[2018-06-28 12:45] #1900 closed, assigned to nobody

[2018-06-28 16:43] aikaterna opened #1901 "[V3 Help] Error when bot is blocked by user"
#### Command name

[p]help with the bot being blocked and the help message being sent via DM

#### What cog is this command from?

help_formatter.py

#### What were you expecting to happen?

For the bot to say "I couldn't send the help message to you in DM. Either you blocked me or you disabled DMs in this server."

#### What actually happened?

[code]

#### How can we reproduce this issue?

1. Ha

[2018-06-29 15:58] laggron42 opened #1902 "[V3 macOS] Issues when installing from pip"
# Other bugs

#### What were you trying to do?

I was trying to install Red on a fresh install of macOS (nothing installed, clear OS)

#### What were you expecting to happen?

Download Red and make it working.

#### What actually happened?

Lot of things happened with the installation step `pip install red-discordbot[voice]`.

1. discord.py not found. Had to install it manually with `pip install g

[2018-06-29 17:27] pabloleban opened #1903 "[V3] Audio trivia"
# Feature request

Audio trivia support.
Like guessing the song, sound or whatever.

#### Select the type of feature you are requesting:

- [x] Cog
- [ ] Command
- [ ] API functionality

#### Describe your requested feature

It should work the same way as the trivia system we have now.
But instead of text, it should play a YouTube video.

Some examples of the .txt sintaxis for trivias:

## Guessin

[2018-06-29 17:31] aikaterna commented on #1903
You may want to suggest this on the cogboard instead. https://cogboard.red

[2018-06-29 18:18] pabloleban commented on #1903
Done.

[2018-06-29 18:18] #1903 closed, assigned to nobody

[2018-06-30 01:00] Crossedfall opened #1904 "[V3 Filter] Unable to filter sentences"
# Command bugs

#### Command name

`filter add "<sentence>"`

#### What cog is this command from?

Filter [core]

#### What were you expecting to happen?

Whenever the full sentence is posted within the filtered Discord server, it should be removed by the bot.

#### What actually happened?

Nothing. Sentences will be deleted if you remove the spaces from the trigger phrase, however.

#### How can

[2018-07-01 04:07] aikaterna opened #1908 "[V3 Admin] Selfrole errors in DM"
#### Command name

[p]selfrole remove is available in DMs when it shouldn't be.
[p]selfrole list is available in DMs and returns an error.

#### What cog is this command from?

Admin

#### What were you expecting to happen?

Both commands may benefit from a @commands.guild_only() check and not be available in DMs.

#### What actually happened?
[code]

#### How can we reproduce this issue?
Use [p]s

[2018-07-01 04:09] aikaterna opened #1909 "[V3 Bank] Bankset errors in DM while bank is per-guild"
#### Command name

[p]bankset creditsname and bankset bankname return errors while the bank is per-guild and the commands are issued via DM.

#### What cog is this command from?

Bank

#### What were you expecting to happen?

Both of these commands should not be available in DM while the bank is per-guild, or return a message that bank commands should be used in guilds and not DMs.

#### What actu

[2018-07-01 04:11] aikaterna opened #1910 "[V3 Cleanup] Cleanup self is available in DM, but errors out"
#### Command name

[p]cleanup self

#### What cog is this command from?

Cleanup

#### What were you expecting to happen?

For the bot to delete it's messages in the DM.

#### What actually happened?

[code]

#### How can we reproduce this issue?

Use [p]cleanup self in a DM with the bot.

[2018-07-01 04:13] aikaterna opened #1911 "[V3 Core] Embedset guild is available in DM, but errors out"
#### What were you trying to do?

Use [p]embedset guild in DMs.

#### What were you expecting to happen?

This command shouldn't be available in DM's or a guild list should be available.

#### What actually happened?

[code]

#### How can we reproduce this issue?

Use [p]embedset guild in a DM with the bot.

[2018-07-01 04:17] aikaterna opened #1912 "[V3 Economy] Bank errors in DM while bank is per-guild"
#### Command name

[p]bank balance, bank set, and bank transfer are all available in DMs and error out when the bank is per-guild.

#### What cog is this command from?

Economy

#### What were you expecting to happen?

These commands shouldn't work in DM when the bank is per-guild.

#### What actually happened?

[code]
[code]
[code]

[2018-07-02 06:06] mikeshardmind commented on #1904
Unfortunately, that gif isn't a demonstration of anything not working.

The filter will never impact other bots, the bot owner, mods or admins:

https://github.com/Cog-Creators/Red-DiscordBot/blob/3bcf375204c22271ad3ed1fc059b598b751aa03f/redbot/cogs/filter/filter.py#L248-L251

https://github.com/Cog-Creators/Red-DiscordBot/blob/3bcf375204c22271ad3ed1fc059b598b751aa03f/redbot/core/utils/mod.py#L143

[2018-07-02 06:23] Crossedfall commented on #1904
@mikeshardmind if you watch the gif to the end you'll note that it filters the message if I remove all of the spaces. That'd imply that it does actually filter messages from a bot owner and guild admin.

If it really isn't supposed to do that, then there might be another issue at play, possibly unrelated to this report.

Edit: I have tested this with other users and in other servers. I can confirm

[2018-07-02 06:24] mikeshardmind commented on #1904
Does the audit log confirm it was your bot, and are you running more than one bot on that token?

If the answer to those is "yes" and "no" respectively, something is seriously wrong here.

[2018-07-02 06:36] Crossedfall commented on #1904
As far as I can tell, filtering words is not tracked in the log; even with the `--debug` flag. No other bots are running with this token.

I have done a number of tests on this and I can confirm without a shadow of a doubt that it will filter away my messages without a problem. Have you tested and had different results?

[2018-07-02 06:37] mikeshardmind commented on #1904
Well, something is seriously wrong.... I can confirm both the issue with the spacing and with the bot owner being considered for deletion.

[2018-07-02 11:20] The-Tasty-Jaffa commented on #1398
Ah, ever so slight issue with cogs that are available in my repo.
Currently "rolealert" (Which used to be called rolenotifier) is the only cog available for v3 (for now). (Sends alerts to channels and or users when they gain a set role).

Side note: I'm not sure about separating github from gitlab repos, although it does make the slight difference clear.

[2018-07-02 12:54] The-Tasty-Jaffa commented on #1738
I do think this will/can be a useful feature and could be used for more than just command replacement.

[2018-07-05 20:44] pabloleban opened #1920 "[V3] Cleanup bot does not clean aliases"
# Command bugs

#### Command name

`[p]cleanup bot`

#### What cog is this command from?

Cleanup

#### What were you expecting to happen?

Cleans command messages (including aliases) and messages from the bot.

#### What actually happened?

It does not delete the alias commands.

#### How can we reproduce this issue?

Create an alias:
`[p]alias add rickroll play https://www.youtube.com/watch?v=dQ

[2018-07-06 03:27] Kowlin commented on #1920
Can confirm that this is a bug.

[2018-07-06 17:10] pabloleban commented on #1920
Note: If the `[p]cleanup bot 10` is called with an alias like `[p]cleanbot`, this alias command is deleted.

[2018-07-07 17:41] mikeshardmind opened #1921 "[V3] Better handling of delete delay / CCs"
# Feature request

- [X] API functionality

### Details

So right now, things like custom commands get handled by delete delay by us actually parsing to see if it was a CC,
What if we had a red specific event which cogs could trigger when they are finished with a message which is handled through on_message as if it were a command for things like it? This would allow vastly simplifying how delete d

[2018-07-08 00:15] Twentysix26 commented on #1643
Feature lock doesn't mean no bug fixes.

[2018-07-09 17:42] calebj opened #1926 "[v2 Downloader] requirements with dotted package names crash the library check"
#### Command name

`cog install calebj captcha`

#### What cog is this command from?

Downloader

#### What were you expecting to happen?

Downloader should have pulled in the dependencies like normal using pip before installing the cog.

#### What actually happened?

Best guess is that since `wheezy.captcha` is a namespace package with a dot in the PyPI name, it's confusing the check. The `wheezy

[2018-07-11 05:13] ZeLarpMaster opened #1928 "[V3] Can't eval a print with codeblocks"
# Command bugs

#### Command name

`[p]eval`

#### What cog is this command from?

dev_commands

#### What were you expecting to happen?

I'm expecting the following answer in a message:
[code]

#### What actually happened?

I got the following answer in a message:
[code]

#### How can we reproduce this issue?

1. Run an instance of RedV3 on which you are a dev with `--dev`
2. Execute the followin

[2018-07-11 12:57] ZeLarpMaster commented on #1928
Note: Seems to be caused by [these lines in the cleanup_code function](https://github.com/Cog-Creators/Red-DiscordBot/blob/V3/develop/redbot/core/dev_commands.py#L36-L37).

Specifically, the fact that it splits lines, removes the first and last, and recombines the lines.
This also causes issues if someone tries to do something like:
[code]
And that's a problem too since those two lines are actuall

[2018-07-11 18:37] mikeshardmind commented on #1928
The fact that this even displays properly in discord the way you are demonstrating isn't even a guarantee. The code block specification as used by discord is literally
[code]
So, this is just a misuse of the code blocks.

Here's a dumb example of why this isn't even worth attempting to detect.
[code]

py is a valid highlight syntax. It's also being used as a variable in the code. Without putting a

[2018-07-11 23:20] ZeLarpMaster commented on #1928
First of all, I have no idea where you get that "used by discord literally" from, but if that was the case, I fail to see why Discord still shows the correct syntax when you do:
[code]
If you try that right now on Discord, you'll see the string is indeed highlighted and, more importantly, that the line is actually there.

Secondly, the first line's matching seems to work more like:
- Find code blo

[2018-07-11 23:27] mikeshardmind commented on #1928
I'm saying that just because that's the current behavior of the code block, and that matches that behavior currently, doesn't mean we should support it as what has actually been said by discord is the specification for code blocks ([link](https://support.discordapp.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-)) would break if they ever started using it s

[2018-07-11 23:35] ZeLarpMaster commented on #1928
In the link you've given, we see an example without a valid syntax specifier (the haiku one), you can also see that the last line is actually displayed. This does not match the current implementation of cleanup_code.

If you're only concerned about having to change it later, then I say, change it to match the current way those things work (or at the very least change it to actually fit what's in t

[2018-07-11 23:39] mikeshardmind commented on #1928
In the link I showed, anything which isn't a valid language highlight isn't parsed. The ambiguity comes in where there is a valid language highlight where it starts. However, as shown already, we have cases where valid ones don't parse "correctly" according to the documentation. It would be saner to require seperate lines, and raise an error to the user if the content starts with and ends with
[co

[2018-07-11 23:49] mikeshardmind commented on #1928
It's also worth noting that eval doesn't require the code blocks, so your use of them with
[code]
Seems to be a rather fringe case when
[code]
and
[code]
would both also be valid. The point of using code blocks is so that you can view the code as it was handled. To that end, I think trying to work around undocumented behavior is a worse solution than enforcing a known good one.

[2018-07-11 23:49] ZeLarpMaster commented on #1928
Since we have very little information in that "documentation" (which I wouldn't even refer to as documentation considering the very low amount of technical details), I don't think either of us can actually extrapolate anything from the two screenshots of the code blocks's input.

We can, however, add an error message to actually tell the user what the command expects.

I hope you'll agree, but we

[2018-07-11 23:52] ZeLarpMaster commented on #1928
It's also worth noting that eval was an example and the following command is far from a fringe case when one could do:
[code]
My point with that example wasn't the example, it was that the last line is removed even though it can contain code. I should've added a line before the print to illustrate my point a bit better in the example. My bad on that.

[2018-07-11 23:53] mikeshardmind commented on #1928
I do agree. I actually called it ambiguous already, but I don't think the solution is to do anything which makes assumptions about it beyond what we can know. If you have anything more technical covering how it's handled, I'd be happy to concede that, but otherwise I think enforcing the current behavior with better user-facing errors about what is expected is the "correct" solution.

Just removing

[2018-07-12 06:22] mikeshardmind opened #1931 "[V3] Permissions nested group issues."
Well, I hate finding I didn't properly account for this, but at least it was designed to fail securely.

The allow override for a command in a group does not implicitly grant an allowance of that group. This is a problem with how the permission model is advertised.

2 (ED: 1) possible routes for fixing:

1. Only commands can have `admin_or_permissions` style checks, not groups. (Ed: this breaks in

[2018-07-12 18:41] ASSASSIN0831 opened #1932 "[V3 Core] Unable to load streams cog with a set mixer alerts"
# Command bugs

#### Command name

[p]load streams

#### What cog is this command from?

Core and Streams

#### What were you expecting to happen?

For the streams cog to load.

#### What actually happened?
I added a mixer stream and it worked but I updated to version 17 and noticed the streams cog wasn't loaded. so I did the load command and got this error. I deleted the json file and then it loa

[2018-07-12 19:47] pabloleban opened #1933 "[V3] You can only append 600 songs from a YouTube playlist"
# Command bugs

#### Command name

`[p]playlist append <playlist> <link>`

#### What cog is this command from?

Audio

#### What were you expecting to happen?

Append all the songs from a YouTube playlist to a red playlist.

#### What actually happened?

It appends the first 600 songs of the playlist

#### How can we reproduce this issue?

1. `[p]playlist create coolsongs`
2. `[p]playlist append c

[2018-07-12 19:49] shikhir-arora commented on #1933
I believe this is a Lavalink -> Lavaplayer limitation but I haven't looked that closely.

[2018-07-12 19:54] aikaterna commented on #1933
Your application.yml in your audio data folder or in the Red python package location likely has a youtubePlaylistLoadLimit: of 600. We set that to 10000 in our defaults, which is where you'll need to change it if needed, in both files.

[2018-07-14 02:10] mikeshardmind commented on #1877
This is done as of #1905

[2018-07-14 02:10] #1877 closed, assigned to nobody

[2018-07-14 04:48] #1888 closed, assigned to nobody

[2018-07-14 04:59] #1908 closed, assigned to nobody

[2018-07-14 04:59] #1909 closed, assigned to nobody

[2018-07-14 04:59] #1910 closed, assigned to nobody

[2018-07-14 04:59] #1911 closed, assigned to nobody

[2018-07-14 04:59] #1912 closed, assigned to nobody

[2018-07-15 00:28] Kio-td commented on #1515
Would appreciate if this was reopened.
![image](https://user-images.githubusercontent.com/7786316/42729385-8211be24-87a4-11e8-8261-5439a9a9a38c.png)

[2018-07-15 01:04] mikeshardmind commented on #1515
I'm going to look into various potential causes on this. My prior response still stands, you should not expect setup to allow adding a listener which belongs to a cog, without also adding that cog.

But that doesn't mean we can't prevent this from being an issue by raising an error and removing bad listeners. ED: the listeners actually function just fine.

[2018-07-15 01:18] mikeshardmind commented on #1515
1st With your code, I can't repro getting a segfault on reload.
2nd Load works because it appears to be valid unload doesn't work, as there was no cog added by that name to go find everything to remove.

[2018-07-15 13:29] lifehome opened #1936 "End a trivia"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

Can a trivia be ended by a command?

[2018-07-15 13:38] Twentysix26 commented on #1936
`[p]help trivia`

[2018-07-15 13:38] #1936 closed, assigned to nobody

[2018-07-16 00:35] chnaski opened #1938 "[V3] Completely disable a command"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ x] Command
- [ ] API functionality

#### Describe your requested feature
i know it's not something assumed, but i know a few people who run much larger servers like mine who use red in conjunction with other self hosted bots on the same prefix. as the owner, i'd like to be able to completely disable a command tha

[2018-07-16 03:48] ghost opened #1939 "[WinError 193] %1 is not a valid Win32 application"
The requirements installer throws the above error on PyNaCl
I have tried re-cloning the repo, reinstalling python, and reinstalling visual studio
Running on Windows 10 Home 64-bit
Full launcher output:
[code]

[2018-07-16 08:47] Sashasonic opened #1940 "Streams needing to be reloaded regularly"
I've found that the Streams Cog is needing to be reloaded quite a bit (it'll just stop issuing Twitch Alerts) Once reloaded, it'll post a bunch of them at once.

Is this a known issue, or could it be triggered by something (like a member going on and offline a lot?)

Thanks,

[2018-07-16 23:41] FixedThink opened #1941 "[V3 Trivia] Users can mention `@here` and `@everyone` through a trivia session."
# Command bugs

#### Command name

`[p]trivia` (found it with this one, but applies to other commands as well)

#### What cog is this command from?

Trivia (found it with this one, but applies to other commands as well)

#### What were you expecting to happen?

When a user answers a question correctly, either their username is mentioned, or their displayed name with mass mentioned escaped.

#### W

[2018-07-16 23:54] mikeshardmind commented on #1941
*sigh* I'm inclined to say that people should just pair this with the filter commands and auto-rename people with `@here` or `@everyone` in their names. That said, I'll look into a suitable way to fix this as this will literally impact any command that just drops a user's display name into output.

[2018-07-17 01:41] mikeshardmind opened #1943 "[V3 Unload/Reload] edge cases in bot.unload_extension"
### The issue

Right now, `bot.unload_extension` will break unload and reload if any cogs exist on the bot where `Cog.__module__` is `None`

While this is definitely an edge case, I think it is at least worth considering just filtering out any case where there isn't a module, and trust that in that case, the user of created that situation can handle any required cleanup.

### The use case

Adding

[2018-07-18 14:00] chnaski opened #1946 "Disable globally, enable per channel"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature
I think it should be an option to disable things globally but then enable them per channel, so it'd be ``[p]set deletedelay 0`` but then ``[p]set deletedelay -1 #somechannel``

[2018-07-18 15:33] Crossedfall opened #1947 "[V3 Cleanup] "Cleanup After" command is unresponsive"
# Command bugs

#### Command name

`[p]cleanup after`

#### What cog is this command from?

Cleanup

#### What were you expecting to happen?

When running the command with a valid message's ID _(in this case 469161892099653652),_ it should remove any messages allowed by Discord's API following said message.

#### What actually happened?

Nothing. No errors are provided and no messages are deleted.

[2018-07-18 15:38] Crossedfall commented on #1904
@mikeshardmind **Update:** In B17, I can confirm that the bot no longer removes owner messages. The filter is still broken unfortunately.

[2018-07-18 15:48] laggron42 commented on #1947
I have that problem too

[2018-07-19 10:04] unseenmagik commented on #1398
Good day all, Here is the repo for my v3 cogs.

https://github.com/unseenmagik/MagikCogsv3

Corrently 4 available

Avatar
Battleship
Distance
Members

[2018-07-20 15:02] SavvySloth opened #1948 "[Raspbian] Installation instructions outdated (PIP ssl error)"
# Other bugs

#### What were you trying to do?

Installing the bot on my raspberry Pi 3B running raspbian Lite

#### What were you expecting to happen?

A successful installation procces of PIP.

#### What actually happened?

Received error the following error code

Collecting pip
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(

[2018-07-20 15:06] yamikaitou commented on #1948
The docs for Raspbian are already known to be outdated and https://github.com/Twentysix26/Red-Docs/pull/129 is open to get them updated. See if your issue still occurs when you follow https://bobloy.github.io/Red-Docs/red_install_raspbian/. If it still errors out, update that issue with it so nothing is missed

[2018-07-20 15:18] SavvySloth commented on #1948
@yamikaitou Tried the script from the docs you linked for raspbian stretch but without success received the same error code. But with my own fix, I get an error about discord.py not being present but I am sure I installed discord.py. I am almost certain that it can't be something with the fact that I use Raspbian Stretch Lite right?

[2018-07-20 15:21] yamikaitou commented on #1948
There is no script to run for Stretch, only Jessie. Make sure you follow the instructions for your version.

[2018-07-20 15:25] SavvySloth commented on #1948
@yamikaitou There is a script in fact here:
`sudo python3.5 get-pip.py`
that script gives the same following error:

Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting pip
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError("Can't connect to HTTPS URL because the SSL module is not available.",)':

[2018-07-20 15:36] yamikaitou commented on #1948
That is an issue with your specific installation. Basically, your python was built without SSL enabled. We have seen people break python on their Raspbian install by following the Jessie guide when they have Stretch. If you have nothing on the install of importance, try a reformat and then follow the new guide and see if you still encounter the issue.

[2018-07-20 15:44] SavvySloth commented on #1948
@yamikaitou Sure, I'll give it a try

[2018-07-20 16:16] SavvySloth commented on #1948
Following the tutorial with a fresh flash of Raspbian Stretch Lite worked!
https://bobloy.github.io/Red-Docs/red_install_raspbian/.

[2018-07-20 16:17] Swat1801 commented on #1948
# #

[2018-07-20 16:17] #1948 closed, assigned to nobody

[2018-07-20 17:13] SavvySloth opened #1949 "[Raspbian] Crash after closing Putty"
# Other bugs

#### What were you trying to do?

Closing Putty and keep the but running

#### What were you expecting to happen?

I expected the bot the stay online

#### What actually happened?

The bot instantly stopped replying to command and went offline after the discord time-out period

#### How can we reproduce this issue?

I have no idea can't find any logs must be looking in the wrong plac

[2018-07-20 17:15] flaree commented on #1949
Follow the autorestart guide on the docs to keep the bot running when closing the session.

[2018-07-20 17:52] SavvySloth commented on #1949
Stupid of my following the wrong tutorial for the auto restart

[2018-07-20 17:52] #1949 closed, assigned to nobody

[2018-07-20 18:22] aikaterna opened #1950 "[V3 Downloader] Missing repos from repo list"
# Command bugs

#### Command name
[p]repo list

#### What cog is this command from?
Downloader

#### What were you expecting to happen?
For Red to reliably show installed repos every time.

#### What actually happened?
Some users are reporting that they have installed repos and after this issue occurs, using [p]repo list will return a blank list with just the "Installed Repos:" header. Going into

[2018-07-20 18:37] SavvySloth opened #1951 "Song commands not working on RaspberryPi 3B (ffmpeg installed)"
# Other bugs

#### What were you trying to do?

I was trying to let the bot stream music.

#### What were you expecting to happen?

I was expecting to hear music coming from the bot.

#### What actually happened?

The bot gave the following error code
`Error in command 'play'. Check your console or logs for details.`

#### How can we reproduce this issue?

Release a fix for this issue

[2018-07-20 19:57] Ray-MRQ opened #1952 "[V3] Addrole command errors on hierarchy issue"
Cleaner output for hierarchy issue with [p] addrole instead of giving error.
![image](https://user-images.githubusercontent.com/10146271/43022519-788fd718-8c5f-11e8-8979-95143db2c567.png)

[2018-07-21 12:14] Twentysix26 commented on #1951
Please issue the following commands:
`cd red-discordbot`
`sudo python3.5 -m pip install -r requirements.txt`
and let me know if it works or any error comes up

[2018-07-22 18:42] sleepymanakete commented on #1951
Hi, I have this problem on my RPI3 as well. I've done what was said above and now I get this error.
![image](https://user-images.githubusercontent.com/30272172/43048905-a6378a64-8dac-11e8-9e5f-d1136759dd15.png)

[2018-07-22 19:35] Twentysix26 commented on #1951
@sleepymanakete  Was the requirements installation successful?
I don't have a Pi, if anyone has successfully installed Red on it and wants to review the current installation guide it would be appreciated.

[2018-07-22 19:42] sleepymanakete commented on #1951
Yes, it was. I followed the Ubuntu 16.04 guide for my Pi. The Raspbian guide took me days of googling errors before I got Red to work.

[2018-07-22 23:59] Kowlin commented on #1933
Closing due to issue resolved.

[2018-07-22 23:59] #1933 closed, assigned to nobody

[2018-07-23 00:43] sleepymanakete commented on #1951
Update: Restarting the bot worked. However, if I make the volume anything but 100, music breaks.

[2018-07-23 01:03] aikaterna commented on #1951
Hi sleepymanakete, this issue was originally opened for Red v2 and ffmpeg, but it looks like you're running Lavalink which is Red v3 and a different issue. Could you please open a different issue or visit us on the Red server? There is another user who had some issues with getting audio to work on their pi for v3 and they needed to use a custom lavalink.jar to get it to work.

[2018-07-23 01:21] sleepymanakete commented on #1951
Hi, didn't know it was for V2; I'm sorry. qwq

[2018-07-23 12:36] pabloleban commented on #1933
@Kowlin
It was not resolved.

Both files mentioned by @aikaterna are in 10000.

However this issue is not that important. Keep it closed if you like.

[2018-07-25 00:18] Kowlin opened #1957 "[CI] Travis builds broken due to link checking"
Oracle/Java has blocked the Travis server from connecting to their site. This is resulting in every build failing whereby Travis is blocked from accessing the Java site.

**Temporary solution:**
I've disabled the enforcement of rules on Maintainers. **Handle with care.**

**Second temporary solution:**
Link checking is currently disabled (And the flag has been re-added to the command), this will e

[2018-07-25 00:39] Kowlin commented on #1901
Fixed with merge of #1955.

[2018-07-25 00:39] #1901 closed, assigned to nobody

[2018-07-25 05:18] sweiner commented on #1939
This issue seems to pop up when pip is installing discord.py[voice]. (I ran into it trying to use python 3.7... which FYI doesn't work for other reasons, so I had to downgrade to 3.5)

Here is a workaround I found.

1. Manually download discord.py from
https://files.pythonhosted.org/packages/97/3c/2a97b47fd8839f8863241857bbd6a3998d1de1662b788c8d9322e5a40901/discord.py-0.16.12.tar.gz
2. Edit this l

[2018-07-25 08:24] Jamesp1989SL opened #1960 "Sub command running when primary should fire"
Here I have my cog that is exhibiting strange behaviour. When I send the command `!session` it should run the code in `commands.group` which says the topic of a specific channel. Instead of this happening the code in `session.command` runs. If I change 'session.group' to use a plain string rather than the result of an API query it works and both commands do as expected. I can only assume this is a

[2018-07-26 23:38] doodthedoodthedood opened #1962 "cog repo add bug"
# Command bugs

#### Command name

cog repo add

#### What cog is this command from?

downloader

#### What were you expecting to happen?

The cog to be downloaded from the repo.

#### What actually happened?

I typed it in, and I got an error. So I checked my console, and here was the error message:
[code]

#### How can we reproduce this issue?

I entered in ?cog repo add jumper-cogs https://gith

[2018-07-29 22:03] Twentysix26 commented on #1926
[code]
I'm getting a different type of exception. Might be worth catching both?

[2018-07-29 22:06] calebj commented on #1926
It's already caught, since `ModuleNotFoundError` is a subclass of `ImportError` [added in 3.6](https://docs.python.org/3.6/library/exceptions.html#ModuleNotFoundError).

[2018-07-29 22:10] #1926 closed, assigned to nobody

[2018-07-30 10:56] unseenmagik commented on #1398
Why was my repo deleted ?

[2018-07-30 12:34] PaddoInWonderland commented on #1398
Several cogs have been added to my repo, including:

- customroles
- invoice
- openweather
- tickets

[2018-07-30 17:22] Brramble commented on #1947
Can confirm I am also having this issue.

[2018-07-30 18:09] ghost opened #1964 "[V3 Config] set_raw() replacing all key values"
# Other bugs

#### What were you trying to do?

I was using set_raw() to update a value of a key.

#### What were you expecting to happen?

The value to updated to the new value, and for the rest of the key values to be unaffected.

#### What actually happened?

The value got set but the rest of the key values were removed from the key.

#### How can we reproduce this issue?

Create a dict in Conf

[2018-07-30 20:49] BMCSamael opened #1965 "Error in Star Trek trivia list"
Who Wrote The Screenplay For Star Trek 9: Insurrection?`Michael Piller not PILLAR

[2018-07-31 00:00] mikeshardmind commented on #1964
Just to clarify here, do you mean that the default values provided through `register_default` are not included when you use `get_raw`, update the values, `set_raw`, and then later `get_raw` again, and if not, can you give a clear example of this happening?

[2018-07-31 12:15] laggron42 opened #1966 "[V3 Sentry] Let the cog creators access their cog's errors"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [ ] API functionality
- [x] Other

#### Describe your requested feature

Sentry is now used for logging errors of most Red instances, but only some core developers have access to it (Kowlin and orels1). I think we should make it so approved cog creators can access the errors from their cogs, so they c

[2018-07-31 14:31] tekulvw commented on #1966
We don't track errors from 3rd party code and we have no way of giving people access to *just* their errors if we did. This will not be happening. If you want sentry logging, you'll have to add it to your own code.

[2018-07-31 14:31] #1966 closed, assigned to nobody

[2018-07-31 15:40] ghost commented on #1964
Config registered the defaults, I printed them to make sure they were there, I then used set_raw() to change two of the values in a member's dict, then printed the whole member dict again and only those two values were in it.

[2018-08-01 01:26] Tobotimus commented on #1845
Adding to #623 but this is going to be freezed whilst we ponder bigger issues, unless someone is willing to open a PR for it.

[2018-08-01 01:49] Tobotimus commented on #1852
This is a well presented suggestion, it has a few issues though. I agree that the current `[p]mute server` command is too API spammy. However applying a role instead is a change in behaviour, so this could be a separate command (*cough punish cough*). One use of `[p]mute server` is to quickly restrict a user to a small number of channels by doing `[p]mute server` followed by `[p]unmute channel`, b

[2018-08-01 02:08] Tobotimus commented on #1866
Needs more discussion on how we want to use this key. At the very minimum I think it should give a warning when `[p]cog update` installs the latest version of a cog which has a higher bot version than the one installed. It could also give the warning and hold back the installation, then the user would need to do `[p]cog update` again once they've updated their bot. Same suggestions apply with `[p]

[2018-08-01 02:26] Tobotimus commented on #1870
V2 ain't gonna get this change sorry. Expect better quality overall in V3 audio, but local audio is a WIP feature there.

[2018-08-01 02:26] #1870 closed, assigned to nobody

[2018-08-01 02:28] Tobotimus commented on #1880
Enforcing the use of our command objects is gonna be the way to go here, just less headaches in general. Throwing an exception in `bot.add_command` is one way we could do it.

[2018-08-01 02:42] Tobotimus commented on #1884
Resolved by #1944

[2018-08-01 02:42] #1884 closed, assigned to nobody

[2018-08-01 03:00] Tobotimus commented on #1894
You're misunderstanding the purpose of `cog_data_path` and confusing it with the cog install path. `cog_data_path` returns the path where local data is stored, which is set during `redbot-setup`. Passing a cog instance to the function will return the sub-directory corresponding with that cog. Cogs should never need to know (or use) the cog install path.

Your provided reproduction actually highlig

[2018-08-01 03:00] #1894 closed, assigned to nobody

[2018-08-01 03:35] calebj opened #1968 "[v3 Downloader] RFC: installing cogs/shared libs from PyPI + cog discovery"
# Feature request

#### Select the type of feature you are requesting:
- [x] Core (Downloader)

#### Describe your requested feature
Since redbot can be installed directly using `pip`, and will be usable without `git` once discord.py v1.0+ hits PyPI, I think that Red should support cogs or cog collections installed as python packages.

Fine-grained management via Downloader (beyond just calling `[

[2018-08-01 03:53] calebj opened #1969 "[v3] centralized relational DB management"
# Feature request

#### Select the type of feature you are requesting:
- [x] Core (Config?)

#### Describe your requested feature
This isn't a request for a relational variant of Config, though that's certainly something I would like to see. Rather, I want a standard interface to getting database URLs (for networked DBs) or paths (sqlite), as well as a unique schema name or table name prefix. The

[2018-08-01 09:17] laggron42 commented on #1852
Maybe we could still use a role for guild mute and, when using channel unmute, force the `send_messages` permissions in the channel (ignore role perms)? But another issue would be to remove that forced permission, but when...

I already started working on that feature, you can check the `mute` branch of my fork (the work currently done ignores what you suggested, but I will look after it).

Anothe

[2018-08-01 11:09] calebj commented on #1852
I had an idea for solving this problem in v2 punish that I'll try to implement and test today. Will comment with how it goes.

[2018-08-01 18:10] TurnrDev commented on #1965
Open a PR?

[2018-08-01 18:15] TurnrDev opened #1970 "[V3 i18n] Guild-overides for localisations"
It would be nice if I could change bot localisations per-server and per-user

*Edit by Tobotimus:* And per-channel? ;)

[2018-08-02 12:04] Tobotimus opened #1972 "[V3] Enforcing use of our Command objects"
As we continue to modify the Command objects in `redbot.core.commands` to tailor the library more towards Red, we create more features which are dependent on the modified behaviour. This has become more apparent with fuzzy help search (which relies on a new method `Command.parents` - normal `discord.ext.commands.Command` objects won't appear in fuzzy help) and also possible future changes to the `

[2018-08-02 12:16] Tobotimus commented on #1960
The issue you're describing doesn't make any sense, and I can't see how it highlights any bugs in our system. There are other issues with your code which make me suspect this is a user error (no disrespect). I suggest trying to resolve this in the #coding channel in our discord, or if you find a more specific and certain way to reproduce the issue, comment it below.

[2018-08-02 12:26] Tobotimus commented on #1902
Not the computer but the way you're installing it. You're installing an incompatible version of discord.py before installing Red. Ours is currently pinned to revision `7eb918b19e3e60b56eb9039eb267f8f3477c5e17`, and can be installed with `pip install git+https://github.com/retke/discord.py@7eb918b19e3e60b56eb9039eb267f8f3477c5e17`.

Also, `pip install red-discordbot[voice]` is not the way we recomm

[2018-08-02 12:26] #1902 closed, assigned to nobody

[2018-08-02 12:33] Tobotimus commented on #1939
Do not run red V2 (or V3 yet, for that matter) on python 3.7. We clearly recommend python 3.5 in the [docs](https://twentysix26.github.io/Red-Docs/red_install_windows/#software), please make sure you've followed the installation steps correctly before seeking help. In future, first try resolving issues in the #support channel of our discord server: https://discord.gg/red.

Also, I do **not** recom

[2018-08-02 12:33] #1939 closed, assigned to nobody

[2018-08-02 12:49] mikeshardmind commented on #1852
This *cannot* be reliably done with a role without a server's permissions being designed for this usage.

If this makes it into core, it needs to error in cases it would be ineffective with a clear reason why presented to the user.

Discord's developer docs on permissions explain this, but not really in good user-facing terms. If a user has any role allowing something (other than the default role)

[2018-08-02 16:03] rikusen0335 commented on #1951
I had the same issue on Raspberry Pi3 B+, but I got a solution so I'll show you!

So from lancher, do `Install requirements` and next `Install basic + audio requirements` if you have installed requirements.
When finished install, then do `Update` and next `Update Red + requirements` to fix this issue.

[2018-08-02 16:08] Tobotimus opened #1973 "[V3] The trivia list repository and namespace packages"
Alright, I figure I should write up my thoughts on this topic here to get a proper discussion going.

Currently, for those who are not aware, the trivia lists (YAML files containing question and answers for trivia) are located in the [Red-Trivia](https://github.com/Cog-Creators/Red-Trivia) repo. This is its own (PyPI-hosted) python package, and it is listed as a dependency of Red-DiscordBot. Howev

[2018-08-03 07:11] officiallyemma opened #1975 "[V3 Bank] bank.withdraw/deposit_credits breaks mongodb with floats"
# Other bugs

If you give bank.deposit_credits or bank.withdraw_credit a float instead of an int while using MongoDB, the users balance is stuck as a double. Because of this many cogs break because they expect an int, but get a float.

#### What were you trying to do?

I was trying to withdraw credits from a users account with

`await bank.withdraw_credits(ctx.author, X * 0.30)`

although due to a

[2018-08-04 05:39] Tobotimus commented on #1975
Hi! Thanks for reporting this issue. In my opinion it is best to throw an error when a float is passed to `withdraw/deposit_credits`, since a float value for credits doesn't really make any sense. We could implicitly convert it to int as you say, but I don't think it's hard for the cog creator to do that instead, and it saves having to account for implicit behaviour.

[2018-08-04 14:56] laggron42 opened #1977 "[V3 Translator] Docstrings and f-strings not translated"
# Other bugs

#### What were you trying to do?

Use the i18n program on my cog and generate a valid `messages.pot` files

#### What were you expecting to happen?

Have a `message.pot` files which contains docstrings and all registered strings.

#### What actually happened?

- Docstrings were not in the `messages.pot` file
- Any message that had an f-string was ignored

[code]

#### How can we repr

[2018-08-04 15:02] mikeshardmind commented on #1977
f-strings don't work with pygettext, and cannot be automatically translated. (This isn't behavior which is going to change either due to how they work)

Doc strings you need to pass the correct args for (you can view how core red generates these or `pygettext -h`) for details there

[2018-08-04 15:12] Tobotimus commented on #1977
@mikeshardmind is correct, and I'm going to close this.

Clearly this is not red related, and the issue could be quickly resolved by simply asking in the discord server.

[2018-08-04 15:12] #1977 closed, assigned to nobody

[2018-08-04 17:09] sleepymanakete opened #1978 "[V3 ModLog] Error in command "case""
# Command bugs

#### Command name

[p]case

#### What cog is this command from?

ModLog

#### What were you expecting to happen?

To show me information about a case.

#### What actually happened?
I get this error:
![image](https://user-images.githubusercontent.com/30272172/43678766-a4a40388-97d6-11e8-90c7-d48ae2c54239.png)

#### How can we reproduce this issue?

1. Have a modlog with cases.
2. Do

[2018-08-04 17:11] officiallyemma commented on #1975
+1 yeah I think throwing an error if the input isn't an int is the way to go.

[2018-08-05 00:38] mikeshardmind commented on #1947
There seems to be an issue with the after parameter in general when requesting channel history from the API. I'm not sure what can be done to remedy this, but I will look into it more closely later.

Edit: This also appears to be inconsistent in when it is an issue.

Edit 2: There's an additional logic flaw to be accounted for here, we're short-circuiting out of the collection due to an issue with

[2018-08-05 05:41] Tobotimus commented on #1978
Hi, thanks for submitting this issue! Looks like a simple fix.

[2018-08-05 06:18] Tobotimus opened #1982 "[V3 CogManager] Paths being added implicitly and incorrectly"
# Other bugs

Paths (specifically the core cogs path and the cog install path) are being added to CogManager's config implicitly and incorrectly whenever `CogManager.add_path()` or `CogManager.remove_path()` is called. Basically, the methods get the existing list of paths with `CogManger.paths()`, which returns all valid path directories including the cog install path and the core cogs path. The n

[2018-08-06 14:40] mikeshardmind opened #1987 "[V3] Config behavior change"
# Feature request

- [ ] Cog
- [ ] Command
- [X] API functionality

#### Describe your requested feature

You can't add a dict with prefilled values to config as the default. It treats it as nested config value objects instead. The documentation points this out as intended behavior, but then gives two ways to get that behavior.

I think that config shouldn't do this if not explicitly trying to get

[2018-08-06 15:34] Tobotimus commented on #1987
Why? You haven't given an example displaying where this is problematic.

I don't think we're going to see a behaviour change added this late in the game. Evidently, people already find it difficult enough to learn how to use Config, and unless there is a seriously profound argument for why something should change, I won't agree to making them re-learn any of its functionality.

[2018-08-06 15:37] mikeshardmind commented on #1987
If someone needs a dict of data as a default, their only recourse currently is to make the default an empty dict and manually fill it. This is unintuitive, and rather than having 2 ways to do identical things, we should change the default behavior to be what is expected by what is said.

[2018-08-06 15:40] mikeshardmind commented on #1987
Maybe that's because of cases like this? How is registering a dict as a default silently transforming that into nested config values instead at all intuitive or useful? If my data was easily represented without needing other values in the dict, why would I not just use a flat data structure?

[2018-08-06 16:20] mikeshardmind commented on #1987
after some more discussion `__call__` mixing in the defaults from subgroups would handle this behavior in an intuitive manner.

[2018-08-07 04:27] Redjumpman commented on #1850
I'm trying to reproduce this error and can't seem to do it. Can you list the steps necessary to reproduce it? I know that if you block the bot or disable DMs it should reply with `
I couldn't send the help message to you in DM. Either you blocked me or you disabled DMs in this server.`

[2018-08-07 04:38] aikaterna commented on #1850
Looks like I didn't see this, reported it in #1901 and then fixed it with #1955 .

[2018-08-07 05:34] Tobotimus commented on #1850
Duplicate of #1901 then (despite this one coming first, sorry Kowlin :D)

[2018-08-07 05:34] #1850 closed, assigned to nobody

[2018-08-07 05:37] Tobotimus commented on #1851
Status of this following #1867?

[2018-08-07 07:11] Tobotimus commented on #1800
I'm sold on @tekulvw's proposal as to how we should be moving forward, and for that I'm gonna close this issue (also closing due to inactivity). If we have a change of heart it can be reopened.

[2018-08-07 07:11] #1800 closed, assigned to nobody

[2018-08-07 08:25] Tobotimus commented on #1957
Resolved by #1990.

[2018-08-07 08:25] #1957 closed, assigned to nobody

[2018-08-08 00:27] Tobotimus commented on #1943
Resolved by #1984.

[2018-08-08 00:27] #1943 closed, assigned to nobody

[2018-08-08 16:48] Ray-MRQ opened #1992 "[V3] Userinfo.."
[code]

There are more errors but I am unable to retrieve them as well as the fact that I had to keep deleting my settings file to get it to work which is pointless if there is nothing stored in them when it does work.

After a while the settings file just says "null"...
https://pastebin.com/wk88pzJs

[2018-08-08 16:53] mikeshardmind commented on #1992
This was fixed in #1865 , please update your instance.

[2018-08-08 16:55] Ray-MRQ commented on #1992
Aha ok sorry

[2018-08-08 16:55] #1992 closed, assigned to nobody

[2018-08-09 05:37] Tobotimus commented on #1921
I'm going to freeze this for the moment as I don't see it as a high priority, however I'll give my 2 cents.

I wanted to implement a system to add aliases and CC's to the bot's registered commands, which would also simplify this issue, whilst opening up opportunities to solve others (e.g. conflicting command names). I simply haven't had the time to do it (yet). I'm not treating it as a high priori

[2018-08-09 05:42] Tobotimus commented on #1932
Hi, thanks for reporting this issue! I've set the milestone for the next beta (19), and I'll assign myself to try and get it done by then :)

[2018-08-09 06:45] SCRCE opened #1993 "error while downloading requirements, please help."
==========================
Red Discord Bot - Launcher
==========================

Main requirements:

1. Install basic + audio requirements (recommended)
2. Install basic requirements

ffmpeg (required for audio):
3. Install ffmpeg 32bit
4. Install ffmpeg 64bit (recommended on Windows 64bit)

0. Go back

Collecting pip (from -r requirements.txt (line 1))
  Using cached https://files.pythonhosted.o

[2018-08-09 06:50] Tobotimus commented on #1940
@Sashasonic sorry for the slow response, but thanks for bringing the issue forward to us.

This can just be the twitch API being slow. I've noticed in the past that according to the twitch API, a user can be streaming in excess of 10 minutes after they've gone offline. If a member comes back online within this time, the bot can assume it's already posted an alert for that channel since it never de

[2018-08-09 06:55] Tobotimus commented on #1946
Thanks for your suggestion. I agree this would greatly enhance the UX. We'll try to keep this suggestion in mind going forward, but implementing it in existing features (such as your example suggestion) will take some time. Freezing for now until our schedule frees up.

[2018-08-09 06:58] Tobotimus commented on #1993
As the traceback suggests, `Consult the docs`, and as all of our issue templates say, please search other issues before posting a new one. Duplicate of #1939, you can find your solution there

[2018-08-09 06:58] #1993 closed, assigned to nobody

[2018-08-09 12:14] Tobotimus commented on #1975
Resolved by #1976.

[2018-08-09 12:14] #1975 closed, assigned to Tobotimus

[2018-08-09 12:21] Tobotimus commented on #1970
Sorry I've already frozen this without a response.

This is really hard. It's not even really possible. This requires the translator to know which guild (or user, just guild herein) a string is being sent to, which is impossible unless a guild can be passed to the `_()` function. This is simply unrealistic. Firstly it defeats the purpose of the `_()` function being as visually unnoticeable as poss

[2018-08-09 12:26] Tobotimus commented on #1952
Hi, thanks for opening this issue! This should be a very simple fix. Self-assigning it now.

[2018-08-09 12:33] Tobotimus commented on #1951
Gonna close this now. If you're still having issues, we can reopen it.

[2018-08-09 12:33] #1951 closed, assigned to nobody

[2018-08-09 17:08] TurnrDev commented on #1970
That's fair. I had a feeling it wouldn't be possible. Thank you for spending the time to get back to me :+1:

[2018-08-10 03:46] Redjumpman opened #1997 "[V3/Streams] streamalert list command is missing a doc string."
#### What were you trying to do?
call `[p]help` on streamalert list`

#### What were you expecting to happen?
Help message from the doc string would be displayed.

#### What actually happened?

No help message information was displayed, because the doc string was missing.

#### How can we reproduce this issue?
Call help on `[p]streamalert list` or see the missing short doc on `[p]help streamalert`

[2018-08-10 05:09] Tobotimus commented on #1932
Resolved by #1994.

[2018-08-10 05:09] #1932 closed, assigned to Tobotimus

[2018-08-10 08:03] Sashasonic commented on #1940
Hi @Tobotimus That's ok, better late than never, tbh I haven't been monitoring the situation in a while (as I have 3 different bots that post 'alerts') _but it had been occurring quite a bit_. There was a member that was experiencing on/offline status, and thought it may have been part of causing the issue. Albeit, I'll continue to monitor the situation again.

Yes it's v2 (my _dev_ v3 is also sna

[2018-08-10 20:49] JJW8071 opened #1999 "[V3 Streams] Youtube alerts added by ID have NoneType name"
# Command bugs

Red v3.0.0.b18

#### Command name

[p]streamalert youtube UC79_r-MK8-bmJCYmyzAkvPw

#### What cog is this command from?

Streams

#### What were you expecting to happen?

Add non-partner youtube channel ("Cade") to streamalert settings.
Add <id: channel-name>"Cade"</channel-name> name to streams settings in lieu of a Partner-Name.

#### What actually happened?
**Streams cog is comp

[2018-08-10 21:16] mikeshardmind commented on #1999
Can repro on both b18 and V3/dev This makes the cog completely inoperable.

This should be a reasonably easy fix on preventing the issue on load by making this NoneType safe.

More work will need to be done to figure out how/why we are storing a NoneType here to begin with though.

[2018-08-11 01:46] Tobotimus commented on #1999
Surely the traceback is different on V3/develop though? Since #1994 has been merged

[2018-08-11 01:50] Tobotimus commented on #1999
If this is an easy fix we'll try to fit it in beta 19, I'm willing to accept a PR for it after our cut-off at 23:59 EST Friday

[2018-08-11 02:08] Tobotimus commented on #1978
Resolved by #1981

[2018-08-11 02:08] #1978 closed, assigned to Tobotimus

[2018-08-11 02:11] Tobotimus commented on #1952
Resolved by #1995.

[2018-08-11 02:11] #1952 closed, assigned to Tobotimus

[2018-08-11 03:31] Tobotimus commented on #1982
Resolved by #1983.

[2018-08-11 03:31] #1982 closed, assigned to Tobotimus

[2018-08-11 16:24] mikeshardmind commented on #1999
@Tobotimus Not related to the token. This has to do with a failure to get stream info in another case. The "easy" fix is a NoneType filter, but that doesn't fix the root problem, and will cause stream alerts for those channels to fail silently. This is still better than breaking all stream alerts to accomplish this.

[2018-08-11 18:14] Twentysix26 opened #2003 "[V3 Streams] Misleading error message"
# Command bugs

#### Command name

`[p]streamalert twitch channel #name_of_a_discord_channel`

#### What cog is this command from?

Streams

#### What were you expecting to happen?

The bot telling me that I screwed up

#### What actually happened?

The bot told me that my Twitch token is invalid

#### How can we reproduce this issue?

1) Set a valid Twitch client ID
2) Issue `[p]streamalert twitc

[2018-08-11 20:06] mikeshardmind commented on #1968
Definitely interested in this being supported. Would make distributing my cogs with proper versioning much simpler. Would this also include better interaction between the downloader and python venvs? (I Should probably collect the list of odd behavior's I've noticed with venv usage mixed with current downloader using `--target` usage if not to ensure they are intended)

[2018-08-11 20:08] mikeshardmind commented on #1969
I'd like to see this be a centralized store for more than just DBs, but anything which might benefit from centralized management, including (but not limited to) things like the tokens currently stored in the streams cog, but probably more as well.

[2018-08-11 20:43] mikeshardmind commented on #1928
@ZeLarpMaster  Tagging you on this as in interested party to a path towards a potential resolution:

[code]
(I've constructed this to display properly in the discord webhook, but the actual source code should just use the triple backticks)

This should work for every case other than the very first thing someone putting in a code block being `py` intended as part of the code, which seems like such

[2018-08-11 20:50] calebj commented on #1968
Yeah. The idea is to install the cog package like any other pip package, which would automatically pull in the requirements for it. If it's in a venv, it would install to the venv's folder. Otherwise, it would put it downloader's `lib` folder.  Loading it would import it from the regular packages folder instead of the installed cogs folder.

A "repo" in this case would be a list of references to p

[2018-08-11 21:01] ZeLarpMaster commented on #1928
Looks like a very good solution to me. Thanks a lot!

[2018-08-12 00:26] calebj commented on #1969
True. Would some sort of bot-wide config with a well-established naming convention be a better solution? For example, keys named `db.postgres` or `token.twitch` in the bot-wide registry? The schema/table names would be up to the cog, and could simply reuse the Config ID.

[2018-08-12 02:09] Tobotimus commented on #1997
Resolved by #2001.

[2018-08-12 02:09] #1997 closed, assigned to nobody

[2018-08-12 02:33] Tobotimus commented on #1999
This'll no longer be fatal to the Streams cog in beta 19 after the changes in #1994. However, the name for a youtube stream added by ID is still being set to `None`. This issue will remain open until that is fixed.

[2018-08-12 02:54] Redjumpman commented on #422
What is the status of this?

[2018-08-12 03:55] Tobotimus commented on #422
https://twentysix26.github.io/Red-Docs/red_getting_started/ Looks like it's all good to me. @retke has also included a getting started guide in #1757. So I'm gonna go ahead and close this :)

[2018-08-12 03:55] #422 closed, assigned to nobody

[2018-08-12 04:25] Tobotimus commented on #1960
Closing due to inactivity

[2018-08-12 04:25] #1960 closed, assigned to nobody

[2018-08-12 04:47] Tobotimus commented on #1947
Hotfix #2004 resolves this. #1980 is a more general solution which will be merged at a later date.

[2018-08-12 04:47] #1947 closed, assigned to Tobotimus

[2018-08-12 05:22] Tobotimus commented on #1851
Closing as I'm assuming this was resolved by #1867.

[2018-08-12 05:22] #1851 closed, assigned to palmtree5

[2018-08-12 05:27] Tobotimus commented on #1965
I don't even think this is a question in our trivia lists. Please include the name of the category next time. Or am I missing a joke? :wink:

[2018-08-12 05:27] #1965 closed, assigned to nobody

[2018-08-12 05:35] Tobotimus commented on #508
Server prefixes are often used to prevent conflicting prefixes amongst different bots, allowing the use of the default prefix for the help command is just going to annoy all of these cases.

I'm gonna close this to say the solution is to allow mentioning the bot as a prefix with the `--mentionable` flag, since that will be unique in all circumstances, is easy to do on mobile and doesn't require re

[2018-08-12 05:35] #508 closed, assigned to nobody

[2018-08-12 05:37] Tobotimus commented on #1096
Pretty sure we've decided this is desired behaviour, especially considering how many core cogs we now have. Can be reopened if the status quo changes

[2018-08-12 05:37] #1096 closed, assigned to nobody

[2018-08-12 05:42] #1845 closed, assigned to nobody

[2018-08-12 16:38] DeltaSigma130 opened #2009 "[V3] [p]restart shuts down without restart"
# Command bugs

#### Command name

restart

#### What actually happened?

bot shuts down without a restart.  No error is produced.  Simply, the prompt in the terminal is returned in the same way as if [p]shutdown was issued

#### How can we reproduce this issue?

Windows 10
Anaconda terminal:
[code]

[2018-08-12 16:41] calebj commented on #2009
Please post how you're running the bot.

[2018-08-12 16:43] DeltaSigma130 commented on #2009
[code]

[2018-08-12 16:52] calebj commented on #2009
The restart command causes the bot to exit with the status code `26`, and unless the program invoking `redbot` knows that code is a signal to restart, it'll act like an unsuccessful exit. `redbot-launcher` is one such program.

The help for the restart command also says "The restart is not guaranteed: it must be dealt with by the process manager in use". Obviously, launching the bot directly means

[2018-08-12 16:53] DeltaSigma130 commented on #2009
Got it.  Thanks for the explanation.

[2018-08-12 16:53] #2009 closed, assigned to nobody

[2018-08-12 16:56] jaguard0 opened #2010 "cant find how to setup auto role"
# Command bugs

#### Command name

!help
#### What cog is this command from?

unkown

#### What were you expecting to happen?

i expected to see what i need to use for the autorole command but cant find anything related to it.

#### What actually happened?

it didnt show up at all

#### How can we reproduce this issue?

type !help i guess

[2018-08-12 17:08] calebj commented on #2010
Autorole is a third party cog. You need to install and load the cog before it'll show in help.

Edit: put the wrong name.

[2018-08-13 01:10] Tobotimus commented on #1880
Resolved by #1971.

[2018-08-13 01:10] #1880 closed, assigned to nobody

[2018-08-13 01:11] Tobotimus commented on #1972
Resolved by #1971.

[2018-08-13 01:11] #1972 closed, assigned to mikeshardmind

[2018-08-13 01:13] Tobotimus commented on #2010
Please use #support or #v3-support (depending on your version) in our discord server for further questions

[2018-08-13 01:13] #2010 closed, assigned to nobody

[2018-08-13 01:43] Tobotimus commented on #820
As stated on #1352 I'd happily accept this as an addition to V3 :)

[2018-08-13 01:48] Tobotimus commented on #1940
Since it's V2, nothing's changed in the streams cog for a very long time, and no one else seems to be reporting the issue. I'm gonna put this down to the twitch API being a little slow.

[2018-08-13 01:48] #1940 closed, assigned to nobody

[2018-08-13 04:52] calebj opened #2011 "[V3 Alias] Parameterized and fixed-argument command aliases"
# Feature request

#### Select the type of feature you are requesting:

- [x] Command

#### Describe your requested feature

I've been in the situation where I or other users want to create shortcuts for long commands with parameters in the middle of those commands, instead of at the end. On the other hand, I've also wanted to prevent any parameters from being added to the end of the aliased comma

[2018-08-13 05:00] Tobotimus commented on #2011
I like the suggestion, I've always wanted to write this cog, and have never got around to it. However, I want us to be careful, since as it stands alias is quite a simple cog and I'd like to keep it that way on the front-end - adding these extra features should aim to avoid overwhelming the user with lots of options. Perhaps adding an extra `[p]advalias` (short for advanced alias) will help to sep

[2018-08-13 05:35] calebj commented on #2011
Though it *would* have to have a per-alias toggle to prevent potentially changing behavior on old aliases, I'm opposed in principle to mixing command groups and normal commands. I would keep it under `[p]alias` but keep the idea by making it a subcommand named `advanced` that toggles the aforementioned setting. An example of this kind of convention is trigger's regex toggle.

Perhaps a toggle is a

[2018-08-13 06:49] Tobotimus commented on #1506
This isn't going to be added, sorry, as V2 is feature locked.

Edit: Never mind me not thinking, as this is just a simple fix.

If you are able to, open a PR and we might merge it ;)

[2018-08-13 06:49] #1506 closed, assigned to nobody

[2018-08-13 06:52] Tobotimus commented on #1798
Hi, sorry this took so long for a response. I'm unfortunately not an expert on the subject, but perhaps the helpful people in our Support Squad could give you a hand over in #support at https://discord.gg/red. Thanks!

[2018-08-13 06:52] #1798 closed, assigned to nobody

[2018-08-13 07:04] Tobotimus commented on #1728
Thanks for your issue, and sorry it took so long for a response.

We'd probably accept a PR for this despite V2 being very low priority right now. However considering we don't have one yet, this is unlikely to be fixed.

[2018-08-13 07:04] #1728 closed, assigned to nobody

[2018-08-13 10:59] Brramble opened #2012 "[V3 Downloader] Repo's not showing up after restart"
# Other bugs

#### What were you trying to do?

When I add a repo through the command to my bot it goes into the RepoManager and in repos.json as it should.

#### What were you expecting to happen?

I was expecting it to go into the [p]repo list command which is does but temporarily until the bot restarts

#### What actually happened?

It only shows the repos I add on that restart so if I add 3 re

[2018-08-13 12:56] Tobotimus commented on #2012
Probable duplicate of #1950? Either way we appreciate you coming to us with new info. Are any error tracebacks showing up in your console when you restart the bot?

Also, are you able to provide the URLs to the repos you added?

[2018-08-13 14:26] Mystard opened #2014 "[V3 Warnings] AllowCustomReasons -> This is not a registered reason"
# Command bugs

#### Command name

warn

#### What cog is this command from?

warnings

#### What were you expecting to happen?

A user to be warned with whatever reason I just specified

#### What actually happened?

Error message: "That is not a registered reason!"

#### How can we reproduce this issue?

1. Enable custom reasons `[p]warningset allowcustomreasons 1`/true/yes
2. Warn a user with a

[2018-08-13 14:36] Tobotimus commented on #2014
You have a valid point, it could be clearer how to use custom reasons.

To specify a custom reason, use `[p]warn <user> custom` and the bot will ask you to enter the reason, along with some other stuff I believe.

To make it more user-friendly, perhaps when custom reasons are enabled, changing the message "That is not a registered reason!" to "That is not a registered reason! To specify a custom r

[2018-08-13 14:47] Mystard commented on #2014
Right, apparently I have not read the output of `[p]help warn` with both sides of my brain active, it clearly says there about using "custom". Big oof!

However, I do like the clarification idea on the error message! Always good to have error messages spell stuff out for dumbos like me 😅

[2018-08-13 15:27] aikaterna opened #2015 "[V3 Reports] Error when report interact is used in DM"
# Command bugs

#### Command name

[p]report interact <case_no>

#### What cog is this command from?

Reports

#### What were you expecting to happen?

For this command to not be usable in DMs

#### What actually happened?

[code]

#### How can we reproduce this issue?

Use [p]report interact in a DM.

[2018-08-13 16:35] Mystard commented on #2014
Now that I know how it works, I tested it and the DM was sent fine, however no modlog event was created.

Is this caused by the rework #1867?
I have the warning case enabled on modlog, and since the case is still there it's still supposed to add a modlog event on warn, yes?

So either something is wrong with the case creation or then the case for warnings is not supposed to be there. Didn't want t

[2018-08-13 16:38] Tobotimus commented on #1398
I've finally added my own cogs to the list as well, https://github.com/Tobotimus/Tobo-Cogs branch V3

[2018-08-13 18:25] Brramble commented on #2012
Hi, This is exactly like #1950. This happened again also with only your repo added.

[2018-08-14 01:18] Kovaelin commented on #1798
I eventually decided to start over and skip over the systemd part, but I'm not sure how to fix it if somebody else comes across the problem.

[2018-08-14 04:43] Tobotimus commented on #2012
Thanks, I'll investigate. Marking as a duplicate of #1950.

[2018-08-14 04:43] #2012 closed, assigned to nobody

[2018-08-14 04:46] Tobotimus commented on #2014
@Mystard I'd appreciate it if you opened a new issue for that one, thanks :)

[2018-08-14 04:48] Tobotimus commented on #1964
Likely to be fixed by #2018 (both the year, and the issue :wink:), so I'm gonna move this over to #1987.

[2018-08-14 04:48] #1964 closed, assigned to nobody

[2018-08-14 06:32] Tobotimus commented on #1928
Resolved by #2017.

[2018-08-14 06:32] #1928 closed, assigned to nobody

[2018-08-14 13:41] Tobotimus commented on #1970
@JayTurnr You might actually be in luck. Using [PEP 567](https://www.python.org/dev/peps/pep-0567) cvars, this is more possible than I previously thought :grin: However implementing it is going to be a lot of work, I'm not going to include this in 3.0.0's release milestone, but will reopen the issue and freeze it as a reminder that it should be done at some point.

[2018-08-14 16:19] JJW8071 opened #2020 "Launcher Runtime Error catch misinforms user"
# Other bugs

#### What were you trying to do?

Load a custom cog.

#### What were you expecting to happen?

#### What actually happened?

Redbot (or perhaps the Launcher) catches a runtime error when attempting to load a cog with improper import statements.  The runtime error statement is:
`RuntimeError: The <custom cog> cog in the <customcog.customcog> package, is not using Red's command module,

[2018-08-14 17:05] Tobotimus commented on #2020
Thanks for opening the issue, this was resolved by #2021.

[2018-08-14 17:05] #2020 closed, assigned to nobody

[2018-08-14 19:28] Mystard opened #2022 "[V3 Warnings] Warn doesn't create a modlog case"
# Command bugs

#### Command name

warn

#### What cog is this command from?

warnings

#### What were you expecting to happen?

User to be warned via DM and a modlog case to be created.

#### What actually happened?

User gets warned via DMs but no modlog case is created.

#### How can we reproduce this issue?

1. Warn a user with `[p]warn <user> <reason>`
2. DM gets sent, no modlog case created

[2018-08-15 11:29] Tobotimus commented on #1791
We are working on improving translation coverage. I've just started a feature branch for people to help contribute to this until we have satisfactory coverage. I'm gonna close this now as it's a bit of a vague issue which isn't tracking anything specific, but thank you for your concern.

[2018-08-15 11:29] #1791 closed, assigned to nobody

[2018-08-16 14:00] Tobotimus commented on #2015
Resolved by #2016.

[2018-08-16 14:00] #2015 closed, assigned to mikeshardmind

[2018-08-16 14:34] Proximyst commented on #1968
I would just like to request the feature that is submodules to be allowed to be used in V3's downloader. I have already submitted [a PR to this for V2](https://github.com/Cog-Creators/Red-DiscordBot/pull/2019), if you would like to check it out.

Thank you!

[2018-08-16 23:37] lionirdeadman opened #2026 "[V3] Flatpak for linux distribution"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [ ] API functionality
- [x] Core

#### Describe your requested feature

Distributing through flatpaks would have many benefits even though it may sound stupid at first :
- Distribution agnostic installation
- No Distribution specific issue (example the issue of the Java certificate being wrong on Ubun

[2018-08-17 00:45] mikeshardmind commented on #2026
A brief look into the packaging process for these has me under the impression we could automate the builds for flatpaks with relative ease. I think it's worth at least considering as once set up, it would not require significant extra work to keep up to date.

[2018-08-19 00:19] calebj commented on #1968
I'll add the submodule commands to what I've got working so far as per the PR. But it'll be tricky getting patch notes working for them, so those might be barebones/commit messages only until I have the rest stable and can focus on this.

[2018-08-19 07:23] GamingFTW opened #2030 "Python 3.7 with Discord.py Rewrite Branch Issues"
In an attempt to run Red Discord with Python 3.7 by using [Discord.py rewrite branch ](https://github.com/Rapptz/discord.py/tree/rewrite) we ran into some problems.

[code]

The newer aiohttp 3.3.2 and websockets 6.0 libraries have support issues with the current version Red Discord.
While the new libraries don't work with the default version of discord.py, discord.py rewrite aims to fix that.

I

[2018-08-19 09:24] Tobotimus commented on #2030
@GamingFTW We're aware with our compatibility with our dependencies, we actually pin discord.py to a specific commit on the rewrite branch and update periodically. This particular pinned version won't install if you've preinstalled a different revision of discord.py, unless you use the flags `--no-cache-dir --force-reinstall --process-dependency-links` when installing Red.

Python 3.7, aiohttp 3.3

[2018-08-19 09:24] #2030 closed, assigned to nobody

[2018-08-19 09:49] Tobotimus opened #2031 "Fuzzy search not working"
# Other bugs

It appears we have an issue with fuzzy search. When enabled in DMs, sending a misspelled command yields this:
[code]

~~And server fuzzy doesn't seem to work at all~~ (Edit: It was just a high ratio, I'm going to lower it). I'll investigate.

[2018-08-19 10:14] Tobotimus commented on #2031
Having resolved the above traceback on my local branch, I ran into this one which seems to be caused by typing a command similar to a guild-only one whilst in DM:
[code]

[2018-08-19 12:04] ashneverdawn opened #2032 "Installation of Requirements Failure: fatal: unable to connect to github.com"
# Command bugs

#### Command name

1. Install basic + audio requirements (recommended)

#### What cog is this command from?

Basic installation

#### What were you expecting to happen?

Successful installation of requirements.

#### What actually happened?

Installation of requirements failed.
Here is the console output:

[code]

#### How can we reproduce this issue?

1. Start with a fresh install

[2018-08-19 12:10] Tobotimus commented on #2032
@noxyal This looks like a connection issue between your server and GitHub. Try `ping github.com` from your server. If it shows your connection is OK, try installing again and if that fails, get back to us :)

[2018-08-19 12:30] ashneverdawn commented on #2032
@Tobotimus
Thanks. I tried ping github.com, and there aren't any connection issues there. Besides, the previous installation step of cloning the bot worked flawlessly. I've setup another fresh server and installed again, but same issue.

I do notice something odd with the command that failed though:

`Command "git clone -q git://github.com/Rapptz/discord.py.git /tmp/pip-install-ixo3rw1i/discord.py

[2018-08-19 12:44] Tobotimus commented on #2032
@noxyal `git://` specifies the Git protocol for contacting remote URLs, it's unusual that it wouldn't work with git installed, especially on a distro like Xenial. However you can try this command to force git to use the HTTPS protocol whenever it sees a Git protocol on a GitHub URL:
[code]

Edit:
I should have thought a bit harder - it isn't really unusual that this wouldn't work, due to firewalls

[2018-08-19 12:55] ashneverdawn commented on #2032
I ended up going into the requirements.txt file and changing line 2 from
`git+git://github.com/Rapptz/discord.py.git#egg=discord.py[voice]`
to
`git+https://github.com/Rapptz/discord.py.git#egg=discord.py[voice]`
and it worked like a charm.

[2018-08-19 12:57] Tobotimus commented on #2032
No worries, it's likely to be the firewall issue I mentioned in my last comment. Closing this now that it's resolved.

[2018-08-19 12:57] #2032 closed, assigned to nobody

[2018-08-20 02:05] TheFallenAngel2001 opened #2033 "(V3) Audio cog doesnt load"
# Other bugs

#### What were you trying to do?

I was normally, like everyone does, trying to load audio cog.

#### What were you expecting to happen?

I was expecting it to load normally and to be usable.

#### What actually happened?

It failed to load, throwing in the terminal this:

[code]

#### How can we reproduce this issue?

Im not sure, as i only installed like in the guide on arch linux,

[2018-08-20 02:11] Tobotimus commented on #2033
@TheFallenAngel2001 Hi, thanks for reporting this issue. Could you please provide the output of `pip freeze`?

[2018-08-20 02:13] TheFallenAngel2001 commented on #2033
[ruben@arch redbot]$ pip freeze
appdirs==1.4.3
async-timeout==3.0.0
attrs==18.1.0
btrfsutil==1.0.0
CacheControl==0.12.5
chardet==3.0.4
colorama==0.3.9
discord.py==1.0.0a0
distlib==0.2.7
distro==1.3.0
evdev==1.0.0
fuzzywuzzy==0.16.0
html5lib==1.0.1
idna==2.7
idna-ssl==1.1.0
isc==2.0
lockfile==0.12.2
lutris==0.4.18.1
msgpack==0.5.6
multidict==4.3.1
numpy==1.15.0
packaging==17.1
progress==1.4
pycairo

[2018-08-20 02:18] TheFallenAngel2001 commented on #2033
[ruben@arch redbot]$ python3.6 -m pip freeze
aiohttp==3.3.2
aiohttp-json-rpc==0.11
appdirs==1.4.3
async-timeout==3.0.0
attrs==18.1.0
chardet==3.0.4
colorama==0.3.9
discord.py==1.0.0a0
distro==1.3.0
fuzzywuzzy==0.16.0
idna==2.7
idna-ssl==1.1.0
multidict==4.3.1
python-Levenshtein==0.12.0
PyYAML==3.13
raven==6.9.0
raven-aiohttp==0.7.0
Red-DiscordBot==3.0.0b19
Red-Lavalink==0.1.1
Red-Trivia==1.1.1
web

[2018-08-20 02:24] Tobotimus commented on #2033
That's all good, thanks for the quick reply. I think I can see the issue, it's to do with how we're expecting `java -version` to display, that first line `Picked up by _JAVA_OPTIONS:` is unexpected. I'll try open a PR today to fix this.

[2018-08-20 06:04] Tobotimus commented on #2033
@TheFallenAngel2001 Could you try for me, on your machine, run the following command and restart the bot? Then try loading audio.
[code]

If you have 3rd party cogs loaded, it'll likely cause them to fail for now after installing the above version, but you can roll back to Beta 19  with the following command, and your cogs will work again:
[code]

[2018-08-20 16:03] TheFallenAngel2001 commented on #2033
![2018-08-20_17-02](https://user-images.githubusercontent.com/37851870/44351921-dd542c00-a49a-11e8-8d02-823713370b56.png)
Worked right away after the change

[2018-08-20 16:05] TheFallenAngel2001 commented on #2033
![2018-08-20_17-04](https://user-images.githubusercontent.com/37851870/44352050-3623c480-a49b-11e8-93d1-bfa58a817874.png)
And did load perfectly

[2018-08-20 17:56] TheFallenAngel2001 commented on #2033
Oh, and cogs do work, at least the ones i installed

[2018-08-21 20:30] mikeshardmind opened #2038 "[V3 Config] Config does not reject bad keys"
Including a `.` or starting a keyname with `$` needs to be invalid in config because of mongoDB backend support.

Config will work just fine for this on the json backend, but not with the mongodb one because these characters are not allowed in field names for mongo. Instead, it works with json, and throws uncaught exceptions on mongo.

I'd be in favor of limiting keynames to alpha-numeric and spac

[2018-08-21 22:51] laggron42 opened #2039 "[V3] Be able to have global settings and data (not instance-specific)"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [x] API functionality

#### Describe your requested feature

Currently, the 3rd party cogs are always specific and depending to one single instance. The data is stored in the instance's files and cannot "interact" with other instances. An option to get a global data path would be great and reduce disk

[2018-08-22 05:34] despaceeto opened #2040 "Syntax error"
# Other bugs

#### What were you trying to do?
I was trying to run red bot

#### What were you expecting to happen?

for it to ask for a discord token
#### What actually happened?

Syntax error

#### How can we reproduce this issue?
1. download python latest version
2. do what you normally do with red bot
3 then press run red bot
 outcomes invalid syntax: syntax error

[2018-08-22 06:05] Tobotimus commented on #2040
Hi, you're running Red with an incompatible python version. The compatibility is clearly stated in the [docs](https://twentysix26.github.io/Red-Docs/), just follow the guide for your operating system. Please ask further questions in the #support channel of our discord server: https://discord.gg/red

[2018-08-22 06:05] #2040 closed, assigned to nobody

[2018-08-23 00:36] mikeshardmind commented on #2039
I think this is counterintuitive and goes against the idea of having separate instances with a user-chosen data path. Additionally, you can set your instances to use an external lavalink server and have none of the 4 own it, so that doesn't exactly speak to this being needed.

[2018-08-23 01:16] Tobotimus commented on #2039
I've slept on this and I think @retke has a point - some relatively large files which are only installation-dependent, not instance-dependent, are copied into the instance's data directory. However, I don't think the data manager is the place to deal with this, as the data manager is *specifically* for getting data and metadata for the current instance. Moreover, this use of the data manager could

[2018-08-23 14:01] turkhd opened #2043 "clear command erorr"
# Command bugs

Command not working
#### Command name
chat clear

#### What cog is this command from?
conversation chat to delete posts

selftbot chat clear
#### What were you expecting to happen?
correction

I understood, sorry
#### What actually happened?
error giving

command erorr control panels look
#### How can we reproduce this issue?
rewrite pls

I understood, sorry

[2018-08-23 14:15] Kowlin commented on #2043
Closing this,

Red has no command named ``chat clear``,
We do not support selfbots, as they are against Discord's ToS

If you are opening a new issue, please ensure that its a core Red command. And we don't support selfbots anywhere. This includes this Github organization and the Discord server.

[2018-08-23 14:15] #2043 closed, assigned to nobody

[2018-08-23 14:24] turkhd commented on #2043
Error in command 'cleanup messages'. Check your console or logs for details.

[2018-08-23 14:28] turkhd commented on #2043
Official server: https://discord.gg/red
Make sure to keep your bot updated. Select the 'Update' option from the launcher.
[23/08/2018 17:20] ERROR red on_command_error 369: Exception in command 'cleanup messages'
Traceback (most recent call last):
  File "lib\discord\ext\commands\core.py", line 50, in wrapped
    ret = yield from coro(*args, **kwargs)
  File "C:\Users\Administrator\Downloads\Red-D

[2018-08-23 14:29] Tobotimus commented on #2043
@feyzullahduman147 You're using a modified version of the mod cog. Please don't modify cogs if you expect us to resolve issues.

[2018-08-23 14:31] Twentysix26 commented on #2043
OP is using v2.

[2018-08-23 14:33] turkhd commented on #2043
new I downloaded

[2018-08-23 14:34] Tobotimus commented on #2043
You're right @Twentysix26, that's my bad, for some reason I didn't remember an `async for` line in the V2 mod cog. I stand corrected!

[2018-08-23 14:35] Twentysix26 commented on #2043
@feyzullahduman147 Are you using a bot account for Red? You mentioned "selfbot" in your post.

[2018-08-23 14:36] turkhd commented on #2043
selfbot hm no account ?

[2018-08-23 14:39] turkhd commented on #2043
Red-DiscordBot my account no account record I have need I did not understand sorry

[2018-08-23 14:44] flaree opened #2044 "[V3] Audio: disconnect"
# Command bugs

#### Command name

disconnect

#### What cog is this command from?

Audio

#### What were you expecting to happen?

Allow anyone to disconnect the bot once the music stops.

#### What actually happened?

The boy say's that "There are other people listening to music"

#### How can we reproduce this issue?

![discord_2018-08-23_15-43-42](https://user-images.githubusercontent.com/3155

[2018-08-23 14:54] Twentysix26 commented on #2043
Which version of Python are you using?

[2018-08-23 14:56] turkhd commented on #2043
Python 3.7.0 Twentysix26

[2018-08-23 14:59] Twentysix26 commented on #2043
Try using [Python 3.5.4](https://www.python.org/downloads/release/python-354/) instead. Uninstall 3.7.0 first if you have no other use for it.

[2018-08-23 15:02] turkhd commented on #2043
immediately experience

[2018-08-23 15:07] aikaterna commented on #2044
We spoke in the v3 support channel on the support server, but this is intended. If a pleb is in a channel with other people, we don't want to allow them to disconnect whenever they feel like, stopping the music for everyone else. However if they are alone in the channel, they can use disconnect without that message. Mods like Red admins, mods, bot owner, server owner, etc, will not get this messag

[2018-08-24 00:32] Tobotimus commented on #2044
Marking as resolved since this is intended behaviour.

[2018-08-24 00:32] #2044 closed, assigned to nobody

[2018-08-24 13:51] Tobotimus commented on #1941
Resolved by #1942. Thanks for opening this issue @FixedThink!

[2018-08-24 13:51] #1941 closed, assigned to nobody

[2018-08-25 04:20] Tobotimus opened #2052 "[Streams] Config being saved once for every poll"
As you can see here, streams is saving to config every 60 seconds, even when there is not change in status of any streamalerts:
![image](https://user-images.githubusercontent.com/7438501/44614935-df8b0180-a871-11e8-96be-3c78883047fe.png)

The write should only be occurring when something has actually changed.

[2018-08-25 20:45] turkhd opened #2054 "setup erorr"
# Other bugs

bot not starting
#### What were you trying to do?
setup

not installing
#### What were you expecting to happen?
I know it's an error

#### What actually happened?
gave an error

Starting r...
C:\Users\Administrator\AppData\Roaming\Python\Python36\site-packages\fuzzywuzzy\fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning

[2018-08-25 20:48] Malarne commented on #2054
Token and prefix must be set in order to login.

[2018-08-25 20:49] turkhd commented on #2054
but i did Malarne

[2018-08-25 20:51] Malarne commented on #2054
use again redbot-setup command, you failed something, that's not an error from the bot, but from what you did.

[2018-08-25 20:52] turkhd commented on #2054
setup no immediately shuts down

[2018-08-25 20:54] laggron42 commented on #2054
Type `redbot Instance name --token <your token> --prefix <your prefix>`. The bot will run with the given arguments, then you can use the `[p]set` command to save correctly the token and the prefix.

[2018-08-25 21:03] turkhd commented on #2054
[26/08/2018 00:02] DEBUG json_io _save_json 30: Saving file C:\Users\Administrator\AppData\Local\Red-DiscordBot\Red-DiscordBot\core\settings.json
I made the token again gave the error

[2018-08-25 21:05] turkhd commented on #2054
https://pastebin.com/edhD7nG3

[2018-08-25 21:07] laggron42 commented on #2054
This is **not** an error, this is just a warning, and it's clearly explained how to remove the warning. Red is running fine right now.

[2018-08-25 21:10] turkhd commented on #2054
how can i remove it?

[2018-08-25 21:11] laggron42 commented on #2054
Read. The. Warning.
"Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning"

[2018-08-25 21:13] Zephyrkul commented on #2054
For reference you can install it by running `python -m pip install python-Levenshtein` in your cmd window (the same window you run `redbot` from).

[2018-08-25 21:19] turkhd commented on #2054
I did what you said it gave me this normal ? @zephyrkul
https://pastebin.com/WKmZLcJ4

[2018-08-25 22:52] Tobotimus commented on #2054
python-Levenshtein is written in C, it requires a C compiler to install it. Since you're on Windows, you can download and install Visual Studio, or not worry about it.

[2018-08-26 02:17] AsuraTakun opened #2055 "Unable to add Soundcloud track list as a playlist"
# Command bugs

#### Command name

/playlist add

#### What cog is this command from?

Core?

#### What were you expecting to happen?

Creates a new playlist that plays the tracks here: [RunescapeSoundtrack](https://soundcloud.com/runescapesoundtrack)

#### What actually happened?

[code]

#### How can we reproduce this issue?

Try to add the aforementioned soundcloud tracks as a playlist. Note: T

[2018-08-26 11:50] turkhd commented on #2054
@Tobotimus thx v3 cog how to setup autorole cog as

[2018-08-26 13:19] Tobotimus commented on #2003
Resolved by #2048.

[2018-08-26 13:19] #2003 closed, assigned to nobody

[2018-08-26 13:30] Tobotimus commented on #1987
Resolved by #2018.

[2018-08-26 13:30] #1987 closed, assigned to Tobotimus

[2018-08-26 13:40] Tobotimus commented on #1973
Closing this now #2028 is merged. I understand this conversation might not be over, however.

[2018-08-26 13:40] #1973 closed, assigned to nobody

[2018-08-26 13:45] Tobotimus commented on #1249
Resolved by #2029.

[2018-08-26 13:45] #1249 closed, assigned to nobody

[2018-08-26 13:49] Tobotimus commented on #2033
Thanks for reporting this issue @TheFallenAngel2001 :heart:

Resolved by #2035.

[2018-08-26 13:49] #2033 closed, assigned to Tobotimus

[2018-08-26 13:54] Tobotimus commented on #1999
Thanks for reporting this issue @JasonJW.

Resolved by #2047.

[2018-08-26 13:54] #1999 closed, assigned to nobody

[2018-08-26 13:56] Tobotimus commented on #2054
@feyzullahduman147 Please ask further questions in the #support channel of our server, https://discord.gg/red, thanks :)

[2018-08-26 13:56] #2054 closed, assigned to nobody

[2018-08-26 15:14] turkhd opened #2056 "mod cog error"
# Other bugs

mod cog error
#### What were you trying to do?
cog setup

cogs mod setup erorr
#### What were you expecting to happen?
fix

#### What actually happened?
error

https://pastebin.com/yb241gyS
http://www.imgim.com/2747inciq7651858.png

Failed to load package mod. Check your console or logs for details.
#### How can we reproduce this issue?
you corrected

[2018-08-26 19:41] ghost opened #2057 "issues with install the discord bot"
# Other bugs

#### What were you expecting to happen?
was inatall the bot but get this issue

#### How can we reproduce this issue?
https://hastebin.com/uguzexiyot.sql

[2018-08-26 19:44] Twentysix26 commented on #2057
Uninstall Python 3.6/3.7 and install Python 3.5 as told (and linked) in the installation guide.

[2018-08-26 19:45] ghost commented on #2057
Okay

[2018-08-26 19:52] turkhd opened #2058 "swearing protection"
# Feature request

antilink
antiswearing
antiadvertisement

#### Select the type of feature you are requesting:
antiswearing
antiadvertisement

- [ x] Cog
- [x ] Command
- [ ] API functionality

#### Describe your requested feature
on the server swearing you do not link sharing no special swearing config get

[2018-08-26 20:01] ghost commented on #2057
@Twentysix26 Okay now it work now Thank you

[2018-08-26 20:01] #2057 closed, assigned to nobody

[2018-08-26 22:32] flaree commented on #2058
You can request custom cogs here: [https://cogboard.red](url)

[2018-08-27 14:21] Tobotimus commented on #1464
I've decided Audio doesn't need optional non-embed support, the cog has an intricately designed UI which presents information beautifully and effectively, even on Mobile I would suggest embeds would still look and perform better. It would also be pretty ironic for a user to disable embeds in the interest of saving cellular data whilst streaming audio on discord. This can be a cog where the excepti

[2018-08-28 16:39] turkhd commented on #2056
@Tobotimus
 help me pls

[2018-08-28 20:17] rguan72 commented on #1556
Hello, I am new to this project. Is there any way I can help with this issue?

[2018-08-28 22:05] Tobotimus commented on #2056
@feyzullahduman147 Try reinstalling and restarting the bot

[2018-08-28 22:13] palmtree5 commented on #2026
Seems like a snap would be pretty easy as well

[2018-08-29 06:40] Tobotimus commented on #1556
Hey @rguan72 we'd love some help :) You're welcome to make a PR to resolve this issue, if you're new to that and would like some help, [CONTRIBUTING.md](https://github.com/Cog-Creators/Red-DiscordBot/blob/V3/develop/.github/CONTRIBUTING.md) and maybe [this site](https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github) can help you. We're also happy to help in the #coding c

[2018-08-29 07:25] Tobotimus commented on #2058
You can check out the filter cog for anti-swearing, antilink is already a 3rd party cog and it will stay that way, see #1398 for a list of 3rd party cogs.

[2018-08-29 07:25] #2058 closed, assigned to nobody

[2018-08-29 07:26] Tobotimus commented on #2056
@feyzullahduman147 For further questions please use the #v3-support channel of our discord server.

[2018-08-29 07:26] #2056 closed, assigned to nobody

[2018-08-29 07:53] palmtree5 commented on #1904
oh wait, I know exactly why bot owner messages are being considered for deletion

[code]

`bot.is_owner` returns a bool. Hence why bot owner messages are being considered for deletion. That's actually a really easy fix though as you really just need to drop `user == ` from that.

The sentences issue results from the way it's added to the filter. Consider the following:

https://github.com/Cog-Crea

[2018-08-29 15:54] wakarimas opened #2066 "Audio Cogs Unable to Load"
# Other bugs

#### What were you trying to do?
Trying to migrate from V2 to V3. And then it was unable to load audio cogs. similar to [#2033](https://github.com/Cog-Creators/Red-DiscordBot/issues/2033)

#### What were you expecting to happen?

Expected the audio cogs to load and able to run functionally

#### What actually happened?

Failed to loads. The log shows something like this

[code]

####

[2018-08-29 19:18] rguan72 commented on #1556
Ok, got it. Thanks!

[2018-08-30 03:38] zephyrkul commented on #1398
https://github.com/zephyrkul/FluffyCogs

- act: Lets you command the bot to perform an action on someone else.
- skyrim: Say a random line from Skyrim. WARNING: Spoilers for Skyrim.
- theme: Allows you to set themes to easily play accross all servers.

[2018-08-30 07:50] laggron42 opened #2069 "[V3 help] Issue with fuzzy help in DM"
# Command bugs

#### Command name

help

#### What cog is this command from?

No category

#### What were you expecting to happen?

Show a message with suggestions for commands.

#### What actually happened?

[code]

#### How can we reproduce this issue?

*In DM*

- `!set fuzzy`
- `!help not_a_command`

[2018-08-30 12:31] thisisjvgrace commented on #1398
made this improved updated version of V3 cogs list in table format. Table for Fox-V3 cogs taken from it's repo README, not my work but it inspired me to make this. :D
Please improve further if you guys feel like.

# List of Available Cogs for Red-DiscordBot V3:

## [Fox-V3](https://github.com/bobloy/Fox-V3)

| Name | Status | Description (Click to see full status)
| --- | --- | --- |
| ccrole | **

[2018-08-30 16:27] turkhd opened #2070 "autorole erorr"
# Other bugs

#### What were you trying to do?
autorole setup

#### What were you expecting to happen?
fix

#### What actually happened?
erorr

https://pastebin.com/pbt2svh4
Error in command 'autorole add'. Check your console or logs for details.
#### How can we reproduce this issue?
you corrected

[2018-08-30 16:30] laggron42 commented on #2070
This issue does not concern core Red. For this kind of problems, please post an issue on the cog's repo or in the [cog support discord server](https://discord.gg/GET4DVk).

[2018-08-30 16:30] Tobotimus commented on #2070
@retke is correct, closing.

[2018-08-30 16:30] #2070 closed, assigned to nobody

[2018-08-30 16:43] turkhd commented on #2070
problem solved already @Tobotimus @retke

[2018-09-01 01:36] ParzivalWolfram opened #2073 "Pagify error...?"
# Command bugs

#### Command name

eval_os

#### What cog is this command from?

My own

#### What were you expecting to happen?

This command should execute commands on the host machine rather than in the bot itself. Owner only.

#### What actually happened?
[code]

As seen in this traceback, this is an internal error in pagify, not my cog.

Code:
@commands.command(pass_context=True)
@checks.is_o

[2018-09-01 02:12] Zephyrkul commented on #2073
Pagify expects strings, not bytes. Since it's type-hinted to accept strings (`def pagify(text: str, ...`), it's assumed you'll fill that contract, so the error is on your end, not on pagify's.

[2018-09-01 02:48] Tobotimus commented on #2073
@zephyrkul is correct, pagify requires `str`. IIRC `Process.communicate` returns two `bytes` objects, so you will need to decode them before passing to pagify.

[2018-09-01 02:48] #2073 closed, assigned to nobody

[2018-09-01 03:01] mikeshardmind opened #2074 "[V3 Maintaining] Internal documentation"
I feel like we're at the point where we have a lot of moving parts inside the bot. This isn't a bad thing, but as discord.py is not avoiding breaking changes yet, it may be a good idea to document which pieces of the bot/cogs rely on which portions of discord.py somewhere centralized, either in a wiki, or some other form.

[2018-09-01 05:12] ParzivalWolfram commented on #2073
I would like to point out that the error says it EXPECTS a byte object over a string, not the other way around.

[2018-09-01 05:16] Tobotimus commented on #2073
@ParzivalWolfram I can see that, that error is coming from a subroutine in Python's standard library, not from the pagify function. Functions in python tend not to do type checks before continuing as that would add a tonne of verbosity. It's simply expected users will read documentation / type hints

[2018-09-01 05:19] ParzivalWolfram commented on #2073
[code]
also, this. (byte objects are now strings)

I'm clearly not calling an int, so wtf?

[2018-09-01 05:22] Tobotimus commented on #2073
@ParzivalWolfram
[code]

That's your own code

p.returncode is an int, and you are in fact calling it.

[2018-09-01 05:23] ParzivalWolfram commented on #2073
@Tobotimus Yup. I'm not calling an int, so why is this happening? As I'm still using Red's functions and such, i'm still here.

[2018-09-01 05:24] ParzivalWolfram commented on #2073
actually, nvm, i'ma fucking idiot.

[2018-09-01 05:25] Tobotimus commented on #2073
p.returncode is actually part of the standard library, perhaps you should open an issue there? :P

Please either come to #coding or spend longer debugging your code. I know it's frustrating but blaming the tools should be your last resort.

[2018-09-01 05:26] ParzivalWolfram commented on #2073
The original issue was put here as I erroneously thought it was an issue in Red's code, not mine. While inaccurate, that was still the reason...

[2018-09-01 06:19] ParzivalWolfram opened #2075 "How to get entire command?"
I'm trying to make a cog, but people can enter commands with spaces in the keywords, so I'd like to take a command and have the entire remainder of the message put into a variable instead of just what's defined in the function. For example:

If someone sends the command `[p]search Generic String`, I need the variables set up as the following:
[code]
however, when only defining a function with one

[2018-09-01 11:24] endms3231 commented on #2066
i had this problem too...

[2018-09-01 12:49] aikaterna commented on #2066
Please give #2062 a try and report your findings on that issue or wait for that PR to be merged.

[2018-09-01 14:16] endms3231 commented on #2066
Okay

Windows 10용 메일에서 보냄

보낸 사람: aikaterna
보낸 날짜: 2018년 9월 1일 토요일 오후 9:49
받는 사람: Cog-Creators/Red-DiscordBot
참조: 이리에; Comment
제목: Re: [Cog-Creators/Red-DiscordBot] Audio Cogs Unable to Load (#2066)

Please give #2062 a try and report your findings on that issue or wait for that PR to be merged.
—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mut

[2018-09-01 18:58] rguan72 commented on #1920
I saw that this issue had no assignees. Just to double check, do you guys want someone to work on this?

[2018-09-01 19:02] coltoutram opened #2076 "[V3] Unmute has odd behaviour on admins"
# Command bugs

#### Command name

Unmute

#### What cog is this command from?

Mod

#### What were you expecting to happen?

Unmute someone from the server.

#### What actually happened?

It sent the "user has been unmuted from the server" but did not remove the permissions from the channels.

#### How can we reproduce this issue?

Mute someone using [p]mute server user and then [p]unmute server

[2018-09-01 22:54] coltoutram opened #2078 "[V3] Warnings customreasons"
# Command Bugs

#### What were you trying to do?

Warn someone with a custom reason.

#### What were you expecting to happen?

After setting allowcustomreasons to true, warn someone with a custom reason.

#### What actually happened?

It said "That is not a registered reason!"

#### How can we reproduce this issue?

Load warnings, warningset allowcustomreasons true, warn someone with a custom reas

[2018-09-02 01:46] Zephyrkul opened #2079 "[V3 Mongo] Unescaped username/password"
# Other bugs

#### What were you trying to do?

`redbot <instance>` to start the instance after setting up mongodb with authentication. Using the latest V3/Develop build.

#### What were you expecting to happen?

redbot asks for token / prefix and begins.

#### What actually happened?

<details><summary>This traceback (clicky)</summary><p>

[code]

</p></details>

#### How can we reproduce this is

[2018-09-02 02:06] Tobotimus commented on #2078
Duplicate of #2014

[2018-09-02 02:06] #2078 closed, assigned to nobody

[2018-09-02 10:12] Tobotimus commented on #1464
Seems like a done deal to me

[2018-09-02 10:12] #1464 closed, assigned to nobody

[2018-09-02 10:17] Tobotimus commented on #2069
Duplicate of #2031, I'm currently working on a fix for this on a local branch

[2018-09-02 10:17] #2069 closed, assigned to nobody

[2018-09-02 10:24] Tobotimus commented on #2075
Hi @ParzivalWolfram, hopefully [this](https://discordpy.readthedocs.io/en/rewrite/ext/commands/commands.html#keyword-only-arguments) will help you. These docs are for the discord.py rewrite (V3 Red), but this section applies to async/V2 as well.

For questions like this, we prefer if you direct them at the #coding channel of our discord server: https://discord.gg/red, or the discord.py server: htt

[2018-09-02 10:24] #2075 closed, assigned to nobody

[2018-09-02 18:38] gsans101 opened #2082 "Got error on startting red"
When i want to start red it gives me this error:

Traceback (most recent call last):
  File "red.py", line 12, in <module>
    from discord.ext import commands
  File "lib\discord\__init__.py", line 20, in <module>
    from .client import Client, AppInfo, ChannelPermissions
  File "lib\discord\client.py", line 42, in <module>
    from .voice_client import VoiceClient
  File "lib\discord\voice_clie

[2018-09-02 18:40] aikaterna commented on #2082
Use Python 3.5.4 instead of 3.7. Feel free to join us in the Red Discord server for any other support questions.

[2018-09-02 18:48] gsans101 commented on #2082
Thanks!

[2018-09-02 18:48] #2082 closed, assigned to nobody

[2018-09-02 22:30] Jackenmen opened #2084 "[V3 Downloader] Option to ignore cog's requirements during install of it"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

I think there should be option to ignore cog's requirements, when installing it. Let's say that installations of requirements fails. You can then try to install those requirements manually, but even if you'll manage to do it, cog install can

[2018-09-02 22:37] coltoutram commented on #2076
What kind of info is needed?

[2018-09-03 00:29] calebj commented on #2084
I'll add this to what I'm working on for #1968

[2018-09-03 00:36] Tobotimus commented on #1920
@rguan72 Sure, no one is working on it yet as far as I know :)

[2018-09-03 01:01] Tobotimus commented on #2039
Should probably open a new issue for the Lavalink.jar being copied, I will decide on a solution in the meantime.

[2018-09-03 01:01] #2039 closed, assigned to nobody

[2018-09-03 03:40] idcw0tdisism8 opened #2085 "[V3 Audio] Allow bots to play youtube playlists"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

Hello everyone,

I have a suggestion on the V3 Audio, and today I'll be talking to you about it.

So, this will be in the audio section of course, and the name of the command will be known as ytlist or ytplaylist.

The intended functionality

[2018-09-03 03:42] zephyrkul commented on #2085
The [p]play command already supports YouTube playlists in V3, and there's a [p]playlist command for making your own playlists in Red.

[2018-09-03 03:42] idcw0tdisism8 commented on #2085
Ah, sorry. I just thought it'd be not there, yet.

[2018-09-03 03:42] #2085 closed

[2018-09-03 03:59] Jqd0n opened #2086 "[V3 Mod] Add back the defaultadmin and defaultmodrole"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

So, in V2 we had this thing called j!set defaultadminrole and j!set defaultmodrole, I was wondering if we could add that back instead of going to servers and doing the command/someone doing it.

[2018-09-03 04:04] Jqd0n commented on #2086
This hasn't been requested yet, and it'd be helpful for your bot users to just know what the role is that has the admin perms and mod perms.

[2018-09-03 04:23] Aioxas opened #2087 "Selfrole errors out on selfrole list after selfrole add"
# Command bugs

#### Command name

selfrole (add|remove|list)

#### What cog is this command from?

admin

#### What were you expecting to happen?

selfrole add, selfrole remove, and selfrole list to work properly

#### What actually happened?

selfrole add works at first, but that breaks selfrole list, and then if you try to do selfrole add again, it breaks even more.

#### How can we reproduce t

[2018-09-03 04:57] Tobotimus commented on #2014
Resolved by #2049.

[2018-09-03 04:57] #2014 closed, assigned to nobody

[2018-09-03 05:09] Aioxas commented on #2087
Will reopen if testing on 3.6 results in the same issues.

[2018-09-03 05:09] #2087 closed, assigned to nobody

[2018-09-03 05:10] Tobotimus commented on #2086
@Jqd0n Thanks for opening an issue. We decided to remove that feature when initially rewriting V3. Here is the cited reason (from #739):

My biggest issue with them is that you have to set it with a role name, since all other role identifiers are server-specific. This raises a security issue, since all roles which happen to have that default role name can implicitly become the mod/admin roles, and

[2018-09-03 06:21] mikeshardmind commented on #2086
Right now, only the bot owner or guild owner can set these roles, due to the security implications mentioned above. While I agree that this is the right call for reasons already mentioned, a possible improvement here might be an on-join message to the guild owner informing them that without setting those roles, certain commands will be unusable by their mods/admins.

[2018-09-03 08:34] evacfk opened #2089 "(V3) Errors after updating"
# Other bugs

#### What were you trying to do?

Update red to latest build

#### What were you expecting to happen?

Start Red after updating

#### What actually happened?

This error on any kind of command (redbot-setup, redbot, redbot-launcher).
`Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 666, in _build_master
    ws.require

[2018-09-03 09:07] Tobotimus commented on #2089
Please try reinstalling with these commands:

    pip3 uninstall Red-Trivia
    pip3 install -U --process-dependency-links --force-reinstall --no-cache-dir --user Red-DiscordBot[voice]

Don't worry if the first command fails, simply move onto the next one. If you still have issues please let us know.

[2018-09-03 14:41] Toxici11i opened #2090 "Red wont launch for me"
# Other bugs

#### What were you trying to do?
Trying to launch red

#### What were you expecting to happen?
For it to launch
#### What actually happened?
Spat out a fat error
----------------
Starting Red...
Traceback (most recent call last):
  File "red.py", line 12, in <module>
    from discord.ext import commands
  File "lib\discord\__init__.py", line 20, in <module>
    from .client import Cl

[2018-09-03 14:51] Toxici11i commented on #2090
New issue
----------
Re-ran the requirement install with audio support - came back with
-------------
Installing collected packages: pip, chardet, multidict, async-timeout, aiohttp, websockets, six, pycparser, cffi, PyNaCl, discord.py, youtube-dl, urllib3, certifi, idna, requests, imgurpython
  Running setup.py install for multidict ... done
  Running setup.py install for aiohttp ... done
  Runnin

[2018-09-03 14:53] Twentysix26 commented on #2090
As the guide explains in bold letters Python 3.5.* is needed. Make sure you uninstall the current version you have first.

[2018-09-03 15:05] #2090 closed, assigned to nobody

[2018-09-03 16:09] Ray-MRQ commented on #2076
traceback error... if there is one

edit: "but did not remove the permissions from the channels." that doesn't mean they weren't unmuted it just means the user profile on the channel wasn't removed if you check it the write perm was re-enabled (if i understood that correctly)

[2018-09-03 16:58] Zephyrkul commented on #2076
I've been playing around with this a little. This is in a test server with no special channel overwrites beyond an admin role that has access to a private category, text channel, and voice channel. This isn't full QA by any means but it's what I found while messing around with it.

Mute:
For every channel the bot and member have access to...
Categories and VCs are denied the Speak permission.
Text

[2018-09-03 19:50] Zephyrkul opened #2091 "[V3 Config] Overflow error"
# Other bugs

#### What were you trying to do?

`bank set <some integer greater than 2^63-1>`

#### What were you expecting to happen?

The credits to be set to the specified integer.

#### What actually happened?

[code]

#### How can we reproduce this issue?

Have a mongodb backend and store a config value larger than 2^63-1 (9223372036854775807).

[2018-09-03 20:56] Zephyrkul opened #2092 "[V3] Incompatible with 3.6.0/3.6.1"
# Other bugs

As a note, this is an issue someone in v3-support had but I've confirmed it on a test install as well.

#### What were you trying to do?

Run Red on 3.6.0 / 3.6.1. Currently setup.py allows installations on these two versions.

#### What were you expecting to happen?

Red begins and runs normally.

#### What actually happened?

Config attempts an import from `typing` (`AsyncContextMa

[2018-09-03 21:08] Zephyrkul opened #2094 "[V3 Core] Backup TypeError"
# Command bugs

#### Command name

backup

#### What cog is this command from?

Core

#### What were you expecting to happen?

Dunno, I was testing to see what backup does, but an error is likely not expected behavior.

#### What actually happened?

For whatever reason I get two of the same error for every run of `[p]backup`. Only one bot is running.
[code]

#### How can we reproduce this issue?

[2018-09-03 23:09] evacfk commented on #2089
This resolved the issue, thank you.

Final question, my systemd now provides errors when trying to start the bot.

` [Unit]
Description=%I redbot
After=multi-user.target

[Service]
ExecStart=/home/evacbots/.local/bin/redbot %I --no-prompt
User=evacbots
Group=evacbots
Type=idle
Restart=always
RestartSec=15
RestartPreventExitStatus=0

[Install]
WantedBy=multi-user.target
 `

This is the script i'm u

[2018-09-03 23:21] palmtree5 commented on #2089
[code]
should be
[code]
based on the traceback you posted before in which `redbot-setup` was in `/usr/local/bin`

[2018-09-03 23:32] evacfk commented on #2089
Thank you, issue is resolved.

I did not realize my redbot  had changed directories, original systemd i posted has always worked until now.

Thanks again.

[2018-09-04 00:51] #2089 closed, assigned to nobody

[2018-09-04 01:02] Tobotimus commented on #2052
Resolved by #2095.

[2018-09-04 01:02] #2052 closed, assigned to palmtree5

[2018-09-04 01:39] Tobotimus commented on #2092
Resolved by #2093 in the meaning that 3.6.0 and 3.6.1 are no longer supported.

[2018-09-04 01:39] #2092 closed, assigned to nobody

[2018-09-04 02:55] Tobotimus commented on #1904
Resolved by #2065.

[2018-09-04 02:55] #1904 closed, assigned to palmtree5

[2018-09-04 04:14] zephyrkul commented on #1398
Forgot to note that I added another cog.

- rift: Allows cross-server communication through Red.

[2018-09-04 07:51] skeith commented on #1398
I have started the fire of v3 conversion and dev of my repo
https://github.com/skeith/MayuYukirin

[2018-09-05 14:40] Tobotimus commented on #2066
Resolved by #2062.

[2018-09-05 14:40] #2066 closed, assigned to nobody

[2018-09-05 15:51] coltoutram commented on #2076
The bot has the highest role and none of the users I am trying to mute have a role above the BOT, I'm confused why mute works but unmute does not, any info?

[2018-09-05 15:52] Zephyrkul commented on #2076
Literally that big ol' comment directly above yours was a huge infodump when I tested this issue out. Give it a read if you want info.

[2018-09-05 15:55] coltoutram commented on #2076
Yes I read that, from what I understand it does not work the way it is intended to?

[2018-09-05 16:00] Zephyrkul commented on #2076
As it stands, based on my testing, `[p]unmute` does *function*, though it could use improvements. In my testing it only ever failed to unmute members who had the Administrator override in their permissions, which allows them to bypass channel permissions. So muting/unmuting doesn't affect them either way. Since currently the bot only unmutes in channels the member can't send messages to, it doesn'

[2018-09-05 16:39] coltoutram commented on #2076
I see now, I'm confused why it mutes people with administrator but then does not unmute them though

[2018-09-06 02:52] Tobotimus commented on #1938
Resolved by #2099. Thanks for opening this issue for us!

[2018-09-06 02:52] #1938 closed, assigned to Tobotimus

[2018-09-06 06:26] Tobotimus commented on #1556
Resolved by #2071, thanks @rguan72 :smiley:

[2018-09-06 06:26] #1556 closed, assigned to nobody

[2018-09-06 20:40] laggron42 opened #2103 "[V3 Mod] Timed mute"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

An included timed mute for the mod cog is requested a lot currently, and would be a nice feature. I'm thinking about something like Dyno for the arguments, and would give something like this:

[code]

`30m` = 30 minutes
`2h` = 2 hours
`4d` =

[2018-09-06 22:20] mikeshardmind commented on #2103
If you'd like to do this, that would actually be wonderful. There was some discussion in discord about this earlier today actually, and the details for what was needed for this could be summed up as:

- All logic abstracted out of commands; Commands should just call the correct functions and schedule a corresponding the corresponding unmute.
- Unmute should be handled properly even in the case of

[2018-09-07 00:38] skeith opened #2104 "[V3] Escape markdown properly on Custom Command list"
# Command bugs

Yes I found bug

#### Command name

`cc list`

#### What cog is this command from?

customcom

#### What were you expecting to happen?

It list the cc beautifully

#### What actually happened?

![image](https://user-images.githubusercontent.com/340284/45192128-1cdf8e00-b279-11e8-8897-00b07ef90135.png)

#### How can we reproduce this issue?

Just have several custom commands with co

[2018-09-07 07:13] Tobotimus commented on #2104
Not exactly a duplicate but resolving #1841 would fix this, so I'm gonna close this in favour of that. Thanks for reporting though

[2018-09-07 07:28] Tobotimus commented on #2074
It's a sound proposal, unfortunately I personally don't have much time for it right now, will freeze it until stuff frees up.

[2018-09-07 21:21] evacfk opened #2106 "[V3] Warnings cog issue"
# Command bugs

#### Command name

.warn

#### What cog is this command from?

Warnings

#### What were you expecting to happen?

When a user goes above the points threshold, the assigned action should occur.

#### What actually happened?

User gets warned and points get added however no action is issued.

#### How can we reproduce this issue?

Create a warnreason, assign it a point value and set

[2018-09-08 05:19] Jqd0n commented on #2086
Make's sense.

[2018-09-08 05:19] #2086 closed, assigned to nobody

[2018-09-08 05:28] Jqd0n opened #2107 "[V3 Cog] Rndstatus (Edited)"
# Feature request

#### Select the type of feature you are requesting:

- [x] Cog
- [ ] Command
- [ ] API functionality

#### Describe your requested feature

 So rndstatus botstats on v3, of course. But with a twist, if @aikaterna or someone can possibly do this. Make it so you can have a rndstatus text and everything else. For example:

With my friend. | [p]help | 4826 users | 497162 servers

Ju

[2018-09-08 05:29] Jqd0n commented on #2107
Upvotes appreciated.

[2018-09-08 06:41] laggron42 commented on #2107
This issue does not concern the core bot. Please move this to the [cog board](https://cogboard.red) or to someone's 3rd party repository.

[2018-09-08 07:59] Jamesp1989SL commented on #2106
Seems to be an issue with the mod cog not the warning cog. Entering the command myself +ban someusername gives a hierarchy error even if i turn off that check with modset heiarchy

[2018-09-08 08:38] mikeshardmind commented on #2106
@useruser3 Not related to the mod cog. I cannot reproduce the behavior you are describing.

I **also** cannot reproduce a lack of warning actions actually being triggered.

[2018-09-08 09:26] #2107 closed, assigned to nobody

[2018-09-08 10:49] Jamesp1989SL commented on #2103
Why not go a step further and allow any command to be ran on a delay. Although maybe that wouldn't  warrant being core

[2018-09-08 10:51] Jamesp1989SL commented on #2106
@evacfk try restarting your bot. Resolved it for me

[2018-09-08 14:21] laggron42 commented on #2103
I'm having some difficulties with the libraries. I cannot find a good one for what I need:
- `datetime.datetime` have the good arguments and operations, but represents a date (year cannot be 0)
- `datetime.time` cannot be more than a day
- `datetime.timedelta` cannot represent years, months, hours, minuts

If you know any good libraries where you can set separately every unit, I'd like to know.

[2018-09-08 14:55] mikeshardmind commented on #2103
Not sure an extra lib is needed, it was just an option. Here's a recipe from some old code that should work fine.

[code]

This could be made more robust with something such as pyparsing, but is likely overkill here.

[2018-09-08 17:53] foreverballoon opened #2109 "Addcom not working or responding at all. Is this happening to anyone else or did I set up the bot incorrectly?"
# Command bugs

#### Command name

!addcom

#### What cog is this command from?

Commands

#### What were you expecting to happen?

Being able to add some sort of custom command that would show the command author's role, or some other variable like with {discord.Role}.

#### What actually happened?

Using !addcom does absolutely nothing. Searching for a few hours on why this isn't working didn't p

[2018-09-08 17:57] flaree commented on #2109
The command is [p]customcom or just [p]cc for short

[2018-09-08 18:40] Twentysix26 commented on #2109
Were you previously running an old version or have you read about [p]addcom somewhere? I'm asking in case there is some out of date documentation
edit: Found and fixed it

[2018-09-08 20:10] #2109 closed, assigned to nobody

[2018-09-08 20:59] evacfk commented on #2106
Did not resolve for me.
On Sep 8, 2018, 3:51 AM -0700, useruser3 <notifications@github.com>, wrote:

[2018-09-08 23:43] DeltaSigma130 opened #2112 "[V3 Config] Adding some Python magic functions to Group and/or Value"
# Feature request

I would like to see an additional Python magic method added to at least the Group class.  The one with the most benefit would be `__eq__`.  I would except this would be True if the identifiers within the Group/Value equaled each other.  For completeness, driver, and force_registration could be checked, but default checking would be problematic due to possible depth issues.

[2018-09-09 02:28] Jqd0n commented on #2112
Yeah, I would too.

[2018-09-09 09:19] eaten-squid commented on #2106
I'm able to reproduce this.

[2018-09-09 13:07] Tobotimus commented on #2079
Resolved by #2111.

[2018-09-09 13:07] #2079 closed, assigned to Kowlin

[2018-09-09 14:17] Tobotimus opened #2113 "[CustomCom] Old custom commands causing issues with new changes"
Calling an old custom command created prior to #2051 results in the following traceback:
[code]

[2018-09-09 14:36] Tobotimus commented on #2113
Resolved by #2114.

[2018-09-09 14:36] #2113 closed, assigned to Tobotimus

[2018-09-10 00:20] Tobotimus commented on #2026
Freezing for now, this distribution sounds like it has some good qualities but we're gonna focus on pip for now.

[2018-09-10 06:07] evacfk commented on #2106
Updated to B21 and same issue exists. I've tried restarting bot, reloading warnings.

I don't see any errors, on bot startup I get

"Unknown event GUILD_INTEGRATIONS_UPDATE."

But that's it.

[2018-09-10 08:20] palmtree5 commented on #2106
That message is a discord.py issue (see Rapptz/discord.py/issues/1083)

[2018-09-10 18:06] Zalatis opened #2120 "[CustomCommands] Cooldown for custom commands"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

In customcog cog add the possibility to mention a cooldown for the custom command

`[p]customcom add commandyouwant Hello World -t 3600`

3600 = time in seconds

[2018-09-11 02:10] Tobotimus commented on #1950
I'm gonna self-assign this as it's an issue I'm somehow able to reproduce, although I'm not entirely sure of the conditions. I'll investigate.

[2018-09-11 02:20] Tobotimus commented on #1950
OK, here's what I've found:
- I previously tried to add a repo, but doing so failed since the repo was private.
- This created a new sub-directory in RepoManager's `repos` directory, but it did not create an entry in RepoManager's settings.json. The sub-directory was also empty (not a git repository)
- This created this traceback on the loading of RepoManager:
[code]

I think it's likely `_load_re

[2018-09-11 04:53] Tobotimus commented on #2120
Hi! I think we could probably include this in 3.1. I see in your example you've included unix-style arg parsing, unfortunately we don't really support that in core at the moment. I would instead suggest a new command:
[code]
This prevents polluting `[p]customcom add`'s arguments but is still straightforward to use.

[2018-09-11 12:22] Tobotimus commented on #1309
Adding this to be included in 3.1. I have some basic design going for a scheduler on my local repo, so I'm gonna self-assign this.

[2018-09-11 20:54] Zalatis commented on #2120
Nice thank you :)

[2018-09-11 23:04] Zephyrkul commented on #2120
Sounds fun and I'm bored. I'll look into it.

[2018-09-11 23:42] mikeshardmind commented on #2112
I don't think this is quite intuitive to have that be that equality here, and I also don't think there is a well-defined equality here given the async nature of access to the actual values. I'm curious what use-case you see this being useful given that you get config values by identifier already, this would seem to be an unneeded method.

[2018-09-11 23:45] Tobotimus commented on #2112
I'm with @mikeshardmind that if you would like to equate things like `Group` objects based on identifiers, simply equate `Group.identifiers`. This is more explicit.

[2018-09-12 01:42] DeltaSigma130 commented on #2112
This is not an equality of the stored value itself.  It is simply a comparison of the objects themselves.  I am writing an extension library to Config that auto-generates Discord commands and Config objects in an ArgParse style.  I have the option of multiple commands modifying the same config, so I needed to check that the object is the same.

I fully admit that it is a fringe use case, and I can

[2018-09-12 01:42] #2112 closed, assigned to nobody

[2018-09-12 01:45] mikeshardmind commented on #2112
Less fringe than you might think, though I agree with @Tobotimus 's earlier statement that if you need that equality, just check the equality of the identifiers attribute.

[2018-09-12 01:59] Zephyrkul commented on #2120
I wasn't sure what type of cooldown you were referring to (per user, per channel, overall?), so I just put all three in.

[2018-09-12 02:17] Zalatis commented on #2120
Really nice , any possibility to adapt the develop branch with this too ? 🥉
(not only V3 then :c)

[2018-09-12 02:19] Zephyrkul commented on #2120
I don't plan to, sorry. That branch (V2) is feature-frozen; bugfixes and minor enhancements only.

[2018-09-12 02:20] Zalatis commented on #2120
Oh okay :(
Np going to sleep have a good day :)

[2018-09-12 02:21] Zephyrkul commented on #2120
Sure thing. If you want to consider upgrading to V3 at any point feel free to ask questions about it in the [official server.](https://discord.gg/red)

[2018-09-12 19:34] mikeshardmind opened #2125 "[V3] bot-wide settings for automated mod actions"
# Feature request

- [ ] Cog
- [ ] Command
- [X] API functionality

#### Describe your requested feature

One last thing I'd like to see added prior to RC1 (because this is a 3rd party intended for use tool), which has been discussed partially in discord before

Per guild settings for automated mod action immunity. Any cog having such actions should use the settings there, and a `bot.is_automated_

[2018-09-13 21:53] Liante-0216 opened #2127 "[V3] Ban peers with hackban"
# Command bugs

#### Command name

[p]hackban

#### What cog is this command from?

Mod

#### What were you expecting to happen?

When called by a mod on another mod, display error message: "I cannot let you do that. You are not higher than the user in the role hierarchy." and do nothing.

#### What actually happened?

Mod got banned, message displayed: "Done. The user will not be able to join thi

[2018-09-14 01:20] Kowlin commented on #2127
Can confirm that this is a bug. Also as an additional bug, ban does not check if you can actually ban the user and it will error out if the bot doesn't have the permissions to ban.

<details><summary>Traceback</summary><p>
Exception in command 'hackban'
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/discord/ext/commands/core.py", line 61, in wrapped
    ret = awa

[2018-09-15 03:39] Fightergaming4 commented on #1398
here's mine. this is main and v1,  main has no files in it since I am making sub-branches for version updating.
main: https://github.com/Fightergaming4/fg4-cog
v1: https://github.com/Fightergaming4/fg4-cog/tree/v1
v2: COMING SOON

[2018-09-15 05:10] lionirdeadman commented on #2026
That's understandable. Maybe I can work on it soon. I'm very inexperienced so I wouldn't expect too much from my trials though.

[2018-09-15 12:37] Lunatrius opened #2133 "[V3] local blacklist ignores roles"
# Command bugs

#### Command name

localblacklist

#### What cog is this command from?

core

#### What were you expecting to happen?

Adding a role to the local blacklist would/should disallow the person to use commands.

#### What actually happened?

The user with the blacklisted role could sue the command without issues.

#### How can we reproduce this issue?

1. Blacklist a role
2. Assign the

[2018-09-15 13:57] yamikaitou commented on #1398
@Fightergaming4 That is not how repos work, they already track version history. You should be putting all your cogs into 1 branch and then just updating them there. The way you are doing it now means that if anyone wants to get your update, they must remove your cog and repo and then re-add it.

[2018-09-15 14:38] retke commented on #1398
And the only cog you have is just sending default emojis, and a link to an unknown server. Cogs are supposed to bring unique things through the bot.

[2018-09-15 20:26] Fightergaming4 commented on #1398
I will go fix it.

it is not an unknown server, it is red bot's cog support server.

[2018-09-15 20:35] Fightergaming4 commented on #1398
updated cog link: https://github.com/Fightergaming4/fg4-cog

[2018-09-16 01:32] safaci2000 opened #2135 "Moderation modlog feature"
# Feature request

I would love the ability to permission users for moderation by role rather then listing users individually.

Also, the ability to modlog a deleted message would be nice.  Even if the kick/ban/mute hasn't happened yet.

#### Select the type of feature you are requesting:

- [ ] Cog
- [X ] Command
- [ ] API functionality

#### Describe your requested feature

Once a channel has be

[2018-09-17 03:36] mikeshardmind commented on #2135
Can you clarify what you mean here?

Permissions for taking action as moderators is already role based.

If you instead mean to target an entire role with a moderation action, I think this is out of scope for core red, as usually you don't punish a group for the actions of an individual.

This seems like a terrible idea. If a message is deleted, it was deleted for a reason. Even putting the privac

[2018-09-17 07:29] Tobotimus commented on #2135
@safaci2000 Just to be clear, if this is a suggestion for V2, V2 is feature-locked.

I'm not sure what you mean by your first suggestion.

As for your other suggestion, deleted messages in the modlog won't be a part of the core bot. In V3, a 3rd party cog could use the modlog's API to log deleted messages, if that was so desired.

I'm gonna close this issue but since we don't really understand you

[2018-09-17 07:29] #2135 closed, assigned to nobody

[2018-09-17 07:31] Tobotimus commented on #2133
Resolved by #2134.

[2018-09-17 07:31] #2133 closed, assigned to nobody

[2018-09-17 15:48] Kowlin commented on #2120
Merged in #2124

[2018-09-17 15:48] #2120 closed, assigned to nobody

[2018-09-18 14:01] zephyrkul commented on #1398
Added a couple more cogs.
- clocks: Track projects with clocks.
- logsfrom: Log a specified channel to a markdown file.

The clocks one was a request for use with Blades in the Dark, a tabletop rpg we play on my server, so it may not have as much universal appeal as the rest of my amazing and wonderful cogs, but may as well pad out my repo when I write a cog that others might end up finding useful

[2018-09-21 09:24] sean-james opened #2141 "Audio Cog Youtube Playlist Error"
# Command bugs

Did you find a bug with a command? Fill out the following:

I'm getting an error with the audio cog when requesting a YouTube playlist. The error I get is in the Discord channel itself not sure if it's to do with any recent changes to youtube-dl

#### Command name

 play

#### What cog is this command from?

audio

#### What were you expecting to happen?

To play YouTube playlists

[2018-09-21 09:46] sean-james commented on #2141
Updated to changes [Audio] Handle playlist urls in [p]play (#1288)

[2018-09-21 09:46] #2141 closed, assigned to nobody

[2018-09-24 00:35] Tobotimus commented on #2031
Resolved by #2122.

[2018-09-24 00:35] #2031 closed, assigned to Tobotimus

[2018-09-24 00:36] Tobotimus commented on #1950
Resolved by #2121.

[2018-09-24 00:36] #1950 closed, assigned to Tobotimus

[2018-09-24 08:21] Tobotimus commented on #2127
Thanks for this report. Resolved by #2128.

[2018-09-24 08:21] #2127 closed, assigned to nobody

[2018-09-24 11:31] laggron42 opened #2147 "Get potential context when loading a cog"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [x] API functionality

#### Describe your requested feature

Sometimes, cogs needs interaction with the one who loaded it for the first time (for initial setup or this kind of things). However, for now, we can only DM the bot owner for this since we don't know where the cog was loaded (and sometimes,

[2018-09-24 16:09] The-Tasty-Jaffa commented on #1309
I also had something already and had it working excluding the decorators... I can PR them into your repo if you'd like.

- I left the thread like this because of it's frozen status and was going to try to get round to fixing the decorators for it.

[2018-09-24 19:00] mikeshardmind commented on #2147
I'm not sure this is appropriate to add, as with RPC support in bot, it's possible the first load happens without a context as well, so encouraging cog devs to rely on something like this is not advisable.

I'd suggest informing your users with your install message that the cog requires setup and hiding commands which require setup being done using checks until then.

[2018-09-25 01:30] Tobotimus commented on #2125
Resolved by #2129 :tada:

[2018-09-25 01:30] #2125 closed, assigned to mikeshardmind

[2018-09-25 01:38] Tobotimus commented on #2147
I'm with Mike here, could you explain what is achieved by this over the install message? The install message can easily direct the user to a setup command. I can't think of a reason why a cog would need a setup for every time it's loaded rather than when it's installed

[2018-09-25 06:02] laggron42 commented on #2147
I use Sentry logging in my cogs, but the users must accept or not if they want their errors to be reported. Currently, the bot sends a DM to the owner and waits for its answer, but some users told me it would be better if this was done in the context channel because they're co-owners (that only happens for the first load).

[2018-09-25 06:08] mikeshardmind commented on #2147
This can still be prompted for in an install message, which would automatically be in the context channel.

[2018-09-25 10:03] laggron42 commented on #2147
Alright, thanks for the suggestions.

[2018-09-25 10:03] #2147 closed, assigned to nobody

[2018-09-25 22:11] MostHated opened #2150 "Google Sheets: Read and Write Data"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [X] Command
- [X] API functionality

#### Describe your requested feature

I was wondering if its possible to allow the bot to read and write data to and from a Google Sheet document so that say, specific information could be tied to a user and saved to Google Sheets as a database and could then be referenced as ne

[2018-09-25 23:26] Tobotimus commented on #2150
Hi @MostHated, not mentioning the difficulties with using the OAuth2 Google Sheets API with Red, this feature is simply too niche to be core. You might find someone willing to create it over at the [cog board](https://cogboard.red), however, as it could make a good 3rd party cog.

[2018-09-25 23:26] #2150 closed, assigned to nobody

[2018-09-26 00:20] Tobotimus opened #2151 "Base Cog Class"
This issue aims to provide information about why I plan on introducing a base cog class to Red. Some people have already noticed its inclusion in #2149, and rightly suspect it's a breaking change they will need to adjust for going forwards.

We've never really needed a base cog class up until now, because we tend to describe the settings and properties of particular cogs in a proxy-like style, rat

[2018-09-26 00:24] Tobotimus commented on #2151
Now, as for semantic details: the new base cog class will be located at `redbot.core.commands.Cog`; so incorporating this change won't even involve an extra import.

As a transitional measure, you can do this to prepare for the new base cog class:
[code]

You may call `super().__init__()` if you'd like, but if you don't, it will be done for you in `bot.add_cog` anyway (Disregard this sentence if y

[2018-09-26 16:00] elijabesu commented on #2106
I also have the problem with the warning and also with the hierarchy

Some more info to the problem:
I have two roles for my V3: `SauriBot` and `Owner's Baby Bots`, where the second one is there purely just so the bot appears below Verified members while the first role is all the way above everyone (and is the one with all permissions). I also have set that after 3 warnings (= 3 points), the user

[2018-09-26 23:04] rthotbelow opened #2152 "skid bot"
skidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskidskid

[2018-09-26 23:06] #2152 closed, assigned to nobody

[2018-09-26 23:49] Alchameth opened #2153 "Looking for a way to edit [p]help"
I am making this new issue because I want to remove the embedded message and provide a link that shows the commands in details; in short i want to change the [p]help command to my needs. Is there any way to do that?

26 mentioned an external cog where I have to do "bot.remove_command("help")" but i dont know what that cog is

[2018-09-27 01:43] Redjumpman commented on #2151
Other than making the permissions cog play better with cogs, what other benefits (either now or in the future) can cog creators expect from inheriting this base class?

[2018-09-27 21:52] Jamesp1989SL commented on #2151
What other functions will the base class Have? One function I can see it having is allowing a master config file that can be used for many cogs and not tied to a specific one ?

[2018-09-28 12:48] Lowiee opened #2154 "Moderation cog problem"
So today I used the clean up command and noticed it wasn’t working so I was like eh probably deleted something fix it later then I notice pretty late at night, that all the moderation commands are broken I tried reinstalling didn’t work, think the moderation part needs to be recoded!

[2018-09-28 12:57] Twentysix26 commented on #2154
Is the bot responding at all? I would also check for any message in the console after you issue a cleanup.
Avoid reinstalling for random issues... Unless you modified the code (and in that case it's outside the scope of these issues) that is always the last resort and rarely solves anything.

[2018-09-28 13:04] Lowiee commented on #2154
Let me get the error some how gimme a minute

[2018-09-28 13:04] Lowiee commented on #2154
Every moderation command is broken

[2018-09-28 13:05] Lowiee commented on #2154
It randomly out of no where stopped working which is ood because I never made any modification on that day.

[2018-09-28 13:10] Twentysix26 commented on #2154
"broken" doesn't tell much, we cannot help without details.
If it doesn't respond at all check if the cog is loaded with `[p]cogs`

[2018-09-28 13:13] Lowiee commented on #2154
I’ll explain the issue properly, I woke up and tried to clear some messages then it wouldn’t work I didn’t make a modification before that, so I don’t know why it isn’t working, I try to load and it fails other cogs work on load https://imgur.com/a/3Ai1o78

[2018-09-28 13:17] Twentysix26 commented on #2154
1. Turn off the bot
2. Delete the file `data/mod/past_names.json`, it's corrupted
3. Turn on the bot
4. `[p]load mod`

[2018-09-28 13:22] Lowiee commented on #2154
^-^ fixed thank you, issue resolved

[2018-09-28 13:22] #2154 closed, assigned to nobody

[2018-09-29 10:23] palmtree5 opened #2157 "[V3 Streams] add support for Twitch teams"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

Original post in the discord: https://canary.discordapp.com/channels/133049272517001216/133049878837329920/494225748056473630

Basically adding support for Twitch's teams to the stream alerts. I'm going to work on this myself but wanted to g

[2018-09-30 00:39] Zephyrkul opened #2160 "[V3 Mod] Tempban doesn't remove the user from settings on unban"
# Command bugs

#### Command name

tempban

#### What cog is this command from?

Mod

#### What were you expecting to happen?

When the user is unbanned and then permanently banned, they remain permanently banned.

#### What actually happened?

The user is unbanned by the bot on the next loop due to their previous tempban having expired.

#### How can we reproduce this issue?

1. Tempban a user.
2

[2018-09-30 05:17] Tobotimus commented on #2153
Hi @Alchameth we'd prefer if you took this discussion to Discord, you may ask in the #coding channel in https://discord.gg/red. Thanks :smiley:

[2018-09-30 05:17] #2153 closed, assigned to nobody

[2018-10-01 03:36] netflixandbill commented on #2160
I can try to find the logs or other debug info from when this was happening to give some more insight on this. thanks for writing this up too.

[2018-10-01 04:06] mikeshardmind commented on #1931
Fixed in #2149

[2018-10-01 04:06] #1931 closed, assigned to nobody

[2018-10-01 04:16] Tobotimus commented on #2160
@netflixandbill Thanks for offering but there's no need, this issue is resolved by #2161 :smiley:

[2018-10-01 04:16] #2160 closed, assigned to nobody

[2018-10-01 20:31] pabloleban opened #2168 "[V3 Trivia] Trivia answers should ignore some special characters"
# Feature request

#### Select the type of feature you are requesting:

- [x] Cog
- [ ] Command
- [ ] API functionality

#### Describe your requested feature

Right now I can see this situation with the special characters in some of the trivia's answers:

From **games.yaml**
`Mega Man's traditional nemesis in the Mega Man series is whom?:
- Dr. Wily
- Dr wily

Who is Mega Man's creator?:
- Dr. Lig

[2018-10-02 08:55] Tobotimus commented on #2151
@Redjumpman @useruser3 I don't plan on polluting this class with methods and attributes or try to provide a plethora of functionality to it, however I'm sure in the future it will make solving complicated problems quite simple for us maintainers. Just look at how `redbot.core.commands` turned out - initially we only needed that for i18n on command help, but looking back, it's hard to know what we

[2018-10-02 08:59] Tobotimus commented on #1436
Closing this as I think our optional embed support is good now. Might be a command here or there which could use it, but streams and audio are best with embeds enforced, so I'm considering this epic done.

[2018-10-02 08:59] #1436 closed, assigned to nobody

[2018-10-02 22:46] Tobotimus commented on #1873
Seems to me this is resolved by #2064 and #2129.

[2018-10-02 22:46] #1873 closed, assigned to palmtree5

[2018-10-02 22:49] Tobotimus commented on #2151
Closing now that the base cog class has been merged.

[2018-10-02 22:49] #2151 closed, assigned to nobody

[2018-10-03 22:39] pabloleban commented on #2168
I would also consider interpreting & as "and"

[2018-10-03 22:55] SuperSandro2000 commented on #2168
I would add apostrophes to the list. Also what about number formating if an answer is a number? Currency? Date?
And as I am German I need to add Umlaute (ä=ae, ü=ue, ö=oe) and ß (equal to ss) to the list.

[2018-10-03 23:22] Bakersbakebread commented on #2168
Fuzzy string matching for typos, too?

[2018-10-03 23:28] Tobotimus commented on #2168
To be honest a lot of this is already possible (and done in existing trivia lists) by adding more alternate answers to the trivia lists. For example, if an answer contains &, Umlaute or other characters which have alternate ways of specifying, simply have multiple answers:
[code]

I would prefer this than trying to process these alternate spellings within the trivia cog, as I'm sure there are a pl

[2018-10-03 23:47] pabloleban commented on #2168
Yes, I know. Also in Spanish we have á é í ó ú which is the same as normal vocals but makes the word to be pronounced different. Im only asking for those universal special characters **: ' ,  .**  not a whole character mapping system. The point of this is making the whole trivia list system a little bit more easier, friendly user and flexible for the list creator and for the people who answer.

@T

[2018-10-05 22:41] Tobotimus commented on #1683
As of #2165, `[p]cog update` will now show which cogs were updated, and prompt of a reload for *all* of these cogs or none of them. Changelogs still not supported though.

[2018-10-06 00:14] Tobotimus commented on #1841
Partially resolved by #2182, the unresolved ones don't seem to be solve-able right now.

[2018-10-06 00:14] #1841 closed, assigned to nobody

[2018-10-06 09:49] ACBobby opened #2189 "aiohttp Dependency Issue"
#### What were you trying to do?

Launch Red with either redbot [Instance] or redbot-launcher.

#### What were you expecting to happen?

The bot to run, or in the case of the launcher, present me with the menu.

#### What actually happened?

Python error for requirements. Seems to requite aiohttp <3.4.0 but >= 3.3.0. The install command pulls 3.4.4 from the repository.

#### How can we reproduce t

[2018-10-06 09:53] Tobotimus commented on #2189
Your discord.py version is likely out of date. Unfortunately due to a limitation with pip it won't upgrade discord.py unless you supply the `--force-reinstall` flag to the pip install command, so try this:
[code]
Let me know if this fixes your issue :smiley:

[2018-10-06 09:55] ACBobby commented on #2189
Looks like that fixed it. Much appreciated!

[2018-10-06 09:55] #2189 closed, assigned to nobody

[2018-10-06 12:05] Clasko opened #2190 "[V3 Audio] [p]playlist list Traceback"
# Command bugs

#### Command name

[p]playlist list

#### What cog is this command from?

audio

#### What were you expecting to happen?

A list of the saved playlist

#### What actually happened?

I get a Traceback:
[code]

#### How can we reproduce this issue?
Update Red to 3.0.0rc1.post1 and try to list saved playlists

[2018-10-07 01:09] LuxNotAvailable commented on #751
Has anyone solved this yet?
I'm having the same problem

Traceback (most recent call last):
  File "red.py", line 12, in <module>
    from discord.ext import commands
  File "lib\discord\__init__.py", line 20, in <module>
    from .client import Client, AppInfo, ChannelPermissions
  File "lib\discord\client.py", line 42, in <module>
    from .voice_client import VoiceClient
  File "lib\discord\voi

[2018-10-07 01:10] Tobotimus commented on #751
@Ryanthekid22 What version of Python are you using?

[2018-10-07 05:42] Tobotimus commented on #2190
Resolved by #2191.

[2018-10-07 05:42] #2190 closed, assigned to nobody

[2018-10-07 10:50] LuxNotAvailable commented on #751
Fixed. I was using the wrong version of Python, turns out i was on 3.7 not 3.5

[2018-10-08 23:12] mikeshardmind commented on #2168
Might be worth adding a util to "normalize" trivia lists (create backup answers automatically and insert into lists, with options for which chars to do this for) It's cheaper to transform the expectation once and store, than on each response. each time.

[2018-10-09 00:55] Tobotimus commented on #2038
Seems liks `.` is fine, the only issue is if a key starts with `$`, see here: https://docs.mongodb.com/manual/reference/limits/#Restrictions-on-Field-Names.

I'm not comfortable with limiting config keys to such a small subset, there are so many places where this would warrant a redesign of config backends. Moreover it creates headaches when setting dicts as values. I'd prefer addressing this on a

[2018-10-09 01:07] mikeshardmind commented on #2038
From your very link:
[code]

side: I dislike per driver handling unless this is escaping, not rejecting as already stated.

[2018-10-09 04:27] Tobotimus commented on #2104
Turns out #1841 was not a way of fixing this. Re-opening.

[2018-10-09 04:30] Tobotimus commented on #2094
Resolved by #2210.

[2018-10-09 04:30] #2094 closed, assigned to nobody

[2018-10-09 09:40] Kowlin opened #2214 "[Permissions] Allow for mutiple IDs in permissions"
# Feature request

#### Select the type of feature you are requesting:

- [x] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

This idea is quite a simple one but I think this will go a long way in the usability and the speed of setting up permissions on the bot. Lets say I want to give a set of members the kick command (assuming kick is default deny all) without gi

[2018-10-09 12:31] Kowlin opened #2216 "[Downloader] Cogs don't get unloaded after uninstalling."
# Other bugs

#### What were you trying to do?

When uninstalling a cog from downloader the cog does not get unloaded.

#### What were you expecting to happen?

The cog being deleted **&** unloaded.

#### What actually happened?

The cog only got deleted, The cog stayed active and in memory.

#### How can we reproduce this issue?

``cog uninstall <3rd party cog>``
Check that the cog is still loade

[2018-10-09 23:31] Tobotimus commented on #820
Resolved by #2204.

[2018-10-09 23:31] #820 closed, assigned to nobody

[2018-10-10 01:04] Sashasonic commented on #12
Cool, @BMCSamael (I had since as well.) Apologies I don't often log in here with this account. I also attained some more Star Trek Trivia's from a Star Trek Discord (v nice of them).

Here today though to share my Dr Who trivia had done it up on a request a short while back. It's only 4 pages, let me know or share again here if anyone wants to add to it.

Hope some find it of use

[drwho.txt](http

[2018-10-10 03:40] lionirdeadman commented on #2026
Okay, so I'm not entirely done but most of the work has been, all that's left is cosmetics and things that are out of my control, I'll publish the script and other things needed after we make a decision since I don't know where to put the code.

So depending on if we want to publish to Flathub.org (which would be great in my opinion), we have 2 options :

1. Publish Flatpak bundles in the releases

[2018-10-10 05:30] aikaterna opened #2220 "[V3 Modlog] Modlog case creation with null modlog channel"
# Command bugs

#### Command name

Any command that's configured to write to the modlog on execution.

#### What cog is this command from?

Mod/Modlog

#### What were you expecting to happen?

For the RuntimeError in get_modlog_channel to be handled.

#### What actually happened?

[code]
Also see my comment on #2164.

#### How can we reproduce this issue?

Have a new settings.json for the modlog o

[2018-10-10 14:28] pabloleban commented on #2168
@mikeshardmind Yeah that sounds better. Trivia list creators should be careful though with the answers and write them as correct as possible.

[2018-10-10 19:31] causefx opened #2221 "[V3] Info command bug"
# Command bugs

#### Command name

info

#### What cog is this command from?

Main

#### What were you expecting to happen?

info version

#### What actually happened?

[code]

#### How can we reproduce this issue?

run info

[2018-10-10 19:34] yamikaitou commented on #2221
Update Red to the latest version using PIP

[2018-10-10 20:56] causefx commented on #2221
That worked!  Thank you and sorry!

[2018-10-10 20:56] #2221 closed, assigned to nobody

[2018-10-11 00:21] Tobotimus commented on #2038
Resolved by #2212.

Style from now should be to try and escape special characters rather than reject them.

[2018-10-11 00:21] #2038 closed, assigned to nobody

[2018-10-11 09:06] Kowlin opened #2224 "[Cleanup] No member converter on "Cleanup user""
# Command bugs
#### Command name
``cleanup user <user> <amount>``

#### What cog is this command from?
Cleanup

#### What were you expecting to happen?
Cleaning up the amount of user.

#### What actually happened?
See Traceback:
[code]
#### How can we reproduce this issue?
``cleanup user <user> <amount>``

[2018-10-11 12:37] Kowlin commented on #2224
Fixed in #2225

[2018-10-11 12:37] #2224 closed, assigned to nobody

[2018-10-11 20:59] Tobotimus opened #2227 "[Streams] discord.NotFound error on load"
This was reported as an error received by a user when trying to load streams:
[code]

[2018-10-11 21:19] Tobotimus commented on #2106
Resolved by #2218.

[2018-10-11 21:19] #2106 closed, assigned to nobody

[2018-10-11 22:22] mikeshardmind opened #2231 "[3.1] Mute improvements"
~~@zephyrkul and I are both working on various improvements (note, not bugfixes) to mute which will not be ready for the initial stable release of V3~~

Here's a to-do list for this:

[ ] Temp muting (see #2140)
[ ] Role based server mute options (not on by default)
[ ] Preventing mute dodging (leave-rejoin server)

[ ] additional QoL changes from #2179

[2018-10-12 04:48] Tobotimus commented on #2076
Resolved by #2230.

[2018-10-12 04:48] #2076 closed, assigned to nobody

[2018-10-14 01:36] Aioxas opened #2236 "[Downloader/Converter] _ is not Defined"
# Command bugs

#### Command name

cog uninstall

#### What cog is this command from?

Downloader & Converters.py

#### What were you expecting to happen?

Normal error saying "cog is not installed

#### What actually happened?

error saying _ is not defined

#### How can we reproduce this issue?

[p]cog uninstall OwO

[2018-10-14 01:40] Aioxas opened #2237 "[Downloader] KeyError Prefix"
# Command bugs

#### Command name

cog uninstall

#### What cog is this command from?

Downloader

#### What were you expecting to happen?

Tell me that the cog is installed but can no longer be located for uninstallation.

#### What actually happened?

KeyError: prefix

#### How can we reproduce this issue?

1. Install any 3rd-party cog
2. Remove files manually for said cog in CogManager/cogs
3.

[2018-10-14 06:10] Tobotimus commented on #2236
Resolved by #2239.

[2018-10-14 06:10] #2236 closed, assigned to nobody

[2018-10-14 06:11] Tobotimus commented on #2237
Resolved by #2238.

[2018-10-14 06:11] #2237 closed, assigned to nobody

[2018-10-14 17:41] laggron42 opened #2240 "Translate predicates.py"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [ ] API functionality
- [x] Other

#### Describe your requested feature

We should make translations for `predicates.py` (yes/no) so the user can answer in its language. If a question is asked in spanish for example, the user will currently have to reply with yes/no, instead of si/no.

However, this c

[2018-10-15 00:26] mikeshardmind commented on #2026
Personally, I think until we have a bit more certainty, and stability, we use option 1 (bundle in releases)

This isn't ideal, as already stated, but until we have more testing with it, I wouldn't want to publish to flathub to ensure the same level of reliability we already expect from our stable releases from it, while still keeping with another set of standards (flatpak's)

This would likely mea

[2018-10-15 01:45] lionirdeadman commented on #2026
Alright, I've outlined the current issues and improvements on my current progress in #2242.

[2018-10-15 11:29] Tobotimus commented on #1920
Resolved by #2213.

[2018-10-15 11:29] #1920 closed, assigned to nobody

[2018-10-15 11:31] Tobotimus commented on #2227
Resolved by #2228.

[2018-10-15 11:31] #2227 closed, assigned to nobody

[2018-10-15 21:39] Tobotimus commented on #2104
Resolved by #2215.

[2018-10-15 21:39] #2104 closed, assigned to nobody

[2018-10-15 22:19] Tobotimus commented on #2216
Resolved by #2243.

[2018-10-15 22:19] #2216 closed, assigned to nobody

[2018-10-15 22:31] Tobotimus commented on #2091
Mostly resolved by #2211, but this can stay open until we actually put a safeguard in config for this.

[2018-10-15 23:38] mikeshardmind opened #2244 "[V3 Audio] Restrict remote audio stream locations by default."
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [X] API functionality

#### Describe your requested feature

For multiple reasons, we shouldn't be allowing the play command to grab arbitrary remote things.

[2018-10-16 06:20] Tobotimus commented on #2240
I think this is a good suggestion. We could have an optional `translator` argument to the method, where you pass in `_`, and the predicate will be against `_("y")`, `_("n")`, `_("yes")`, `_("no")`, this way the cog's .po file would have to define a translation to both the prompt message and the y/n/yes/no responses, reducing the likelihood that one will be translated and the other won't be.

For n

[2018-10-16 15:54] The-Tasty-Jaffa opened #2248 "[V3 config] Create voice_channels etc for config"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [X] API functionality

#### Describe your requested feature

I'm suggesting renaming the current `Config.channels` to `Config.text_channels` because it is more clear. Also changing the name allows for clear use of other defaults such as Voice channels and categories.

By allowing the existence of `Con

[2018-10-16 15:59] mikeshardmind commented on #2248
Just an FYI, `Config.channel` does already support anything which has an id attribute castable to both a  str and int (I might even be abusing this behavior of it in some places...)

While I do support this improvement as you may want different registered defaults for different channel types, you can use a sentinel value in your defaults to signify this until this is handled.

[2018-10-16 16:02] The-Tasty-Jaffa commented on #2248
I don't see any information about this in the docs... just the one line which says > `Config.channel() which takes discord.TextChannel`

[2018-10-16 16:05] mikeshardmind opened #2249 "[V3 Help] Help filtering bug."
# Other bugs

#### What were you trying to do?

Using permissions, default deny a Cog, reallow a command from it to some scope.

#### What were you expecting to happen?

Help should show that cog in scopes where there is at least 1 usable command from it.

#### What actually happened?

Help can be invoked for the command, command works, but the cog help is not shown.

#### How can we reproduce thi

[2018-10-16 16:09] mikeshardmind commented on #2248
I'm aware the docs don't elaborate on this fully, which is why for now I'm informing you the actual behavior used. There's no checking for type done there, it just grabs the id, and makes it a str as a key in a config identifier sequence. I've also edited it should be castable to an int as well.

If you'd like to PR that it accepts any `discord.abc.GuildChannel` instead, this could easily be accep

[2018-10-16 16:20] mikeshardmind opened #2250 "[V3 Config] extended support for custom types"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [X] API functionality

#### Describe your requested feature

I'd like a new method for config. `register_custom_type`

[code]
getter exists to get the attribute which should be used on this object for a config identifier with the name.

Usage should look like:
[code]

[2018-10-16 20:07] laggron42 opened #2251 "Cannot convert from JSON to MongoDB"
# Other bugs

#### What were you trying to do?

Edit an instance to modify its storage type from JSON to MongoDB.

#### What were you expecting to happen?

Convert the JSON data to the MongoDB scheme.

#### What actually happened?

[code]

#### How can we reproduce this issue?

According to Crossedfall, this seems to happen with 3rd party cogs, but I can't give more details, the error does not det

[2018-10-17 01:32] Lonomox opened #2253 "AttributeError: '<class '__main__.Bot'>' object has no attribute 'bot'"
Hello everyone,

I have the following issue with my bot:

When I try to use the command: !bank than the bot is giving out the following:

[code]
[code]
My self-hosted bot is running on a Linux Debian 8 server. This is the error who is occurring in my console:

[code]

I don't know how to fix the issues, who are occurring above.

[2018-10-17 03:24] palmtree5 opened #2254 "[V3 Filter] syntax change on [p]filter add/remove and [p]filter channel add/remove"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature

I'm suggesting changing the syntax of the commands mentioned in the title to have a param called `is_sentence`. This param is optional (see https://discordpy.readthedocs.io/en/rewrite/ext/commands/commands.html#typing-optional), defaulting t

[2018-10-17 18:51] bobloy commented on #2253
Did you rename a file to `whatsmyname.py` ?

[2018-10-17 20:28] Lonomox commented on #2253
I just made a copy of "red.py" and simply edited it 🙂 I didn't change any of the code, just named everything from "Red" to "WhatsMyName".

EDIT: I only renamed everything who isn't important to start up

[2018-10-17 20:31] Tobotimus commented on #2253
This error doesn't occur without the modifications you've made. We cannot help you if you edit the code, please revert your changes if you would like to fix it.

[2018-10-17 20:31] #2253 closed, assigned to nobody

[2018-10-17 20:37] Lonomox commented on #2253
I've just looked through the "whatsmyname.py" and I just changed following:

line 27: `description = "WhatsMyName - A Discord bot made with <3 by TivogGaming"`

and

line 297: `print("WhatsMyName - Discord Bot")`

[2018-10-17 20:42] Lonomox commented on #2253
Okay, nvm. Got it self ;)

[2018-10-17 20:43] Twentysix26 commented on #2253
We do not deal with issues caused by modifications of the original code. Open a new issue if you encounter a problem that's reproducible on a default installation.
We would also appreciate if you'd keep the credits of the original authors and do not claim to have made the bot yourself.

[2018-10-18 02:39] MeatyChunks opened #2259 "[V3 General] urban command throws an error if the message is deleted before menu timeout"
# Command bugs

#### Command name

urban

#### What cog is this command from?

general

#### What were you expecting to happen?

The bot should silently pass over the error I think.

#### What actually happened?

The bot finds the dictionary result, if the reply is deleted, an error is thrown when the menu timer expires after 30 seconds.

#### How can we reproduce this issue?

!urban test
!cleanup

[2018-10-18 12:15] mikeshardmind opened #2260 "[V3 Downloader] Non-portable downloader issues. (sigh)"
CENTOS 7's latest version of git available in default repositories is `1.8.3.1` which does not have the `-C` option. This means on one of our OSs listed as supported, several downloader functions will error.

Docs need updating, or we need to handle certain things differently

Problematic lines in red code below:

https://github.com/Cog-Creators/Red-DiscordBot/blob/8bba860f85d0c1c9ff65caab4efd2715

[2018-10-18 12:20] mikeshardmind commented on #2260
the most portable way of handling this would likely involve invoking from that path, rather than using `-C`,  though we could use the `--git-dir` option instead (which is not equivalent in behavior, so this would need testing)

[2018-10-19 02:50] omka153 commented on #12
made a pokemon guessing trivia which includes a silhouette for every single pokemon, and every single form (Alolan/Mega/variants) except for ones I thought were unfair (like Alolan Sandshrew + Vulpix looks too much like regular Sandshrew/Vulpix)

this works the same as the current whosthatpokemon list, but uses amazon s3 as the image provider, obfuscates the link, and just includes way more than t

[2018-10-21 16:14] Ianardo-DiCaprio opened #2261 "Filter Regex v3"
# Feature request

#### Select the type of feature you are requesting:

- [ ] Cog
- [x ] Command
- [ ] API functionality

#### Describe your requested feature
The ability to use regex in [p]filter so if "hell" is added for example, it won't delete Hello.
<!--
Feel free to describe in as much detail as you wish.
To make Filter not delete everything that has the filtered word in.

If you are request

[2018-10-21 22:27] calebj commented on #2261
It's trivial to arrange a denial of service using Python's built-in backtracking regex engine, so full support for regex isn't a good idea for core. Automata-based engines such as RE2 and Hyperscan don't have this problem, but impose additional binary dependencies.

*Almost* equivalent functionality can be achieved by the following:
[code]

[2018-10-23 17:11] MiniJennJenn commented on #12
Sorry for the long trivia hiatus, but here we are

New:
-
 - games (thanks @bobloy for submitting boardgames but since most of the questions weren't "boardgames" I combined it with the pre-existing games list)
 - sports (some of the questions from the aforementioned boardgames list went into this category as well)
 - r6seige (thanks @MHLoppy !)

Updated:
-
 - leagueoflegends
 - leagueults

To Do:

[2018-10-23 21:26] Kowlin opened #2266 "[Modlog API] Allow lookup via UserID"
# Feature request
#### Select the type of feature you are requesting:

- [ ] Cog
- [ ] Command
- [x] API functionality

#### Describe your requested feature

Allow the modlog API to look up cases by userID, this can help with various cases whereby a cog creator wants to look back at the past history of a member in a guild. Such as having automated tools decide then next action for the member.

[2018-10-23 21:31] Kowlin opened #2267 "[Mod] Allow the ability to choose the number of "deleterepeats""
# Feature request
#### Select the type of feature you are requesting:

- [ ] Cog
- [x] Command
- [ ] API functionality

#### Describe your requested feature
Allow a admin to choose the of messages before ``modset deleterepeats`` triggers.

[2018-10-30 16:37] locastan opened #2276 "V3 Handler not shutting up after custom error handler."
# Other bugs

#### What were you trying to do?

Replace a redbot error message (in this case the message displayed after CommandOnCooldown was triggered) with a custom message via @my_function.error:

    @my_function.error
    async def myfunction_error(self, ctx, error):
        if isinstance(error, commands.CommandOnCooldown):
             await ctx.send("I feel a little tired now. Ask me again

[2018-10-30 16:41] mikeshardmind commented on #2276
This should probably be handled, but I did forget an option when discussing this with you in discord.

using the special named cog level: `async def __error(self, ctx: commands.Context, error)` will prevent default red messages. since you want this for the specific command, you can make this `pass` if you will handle each command separately, or do all of your command error handling for the cog in

[2018-10-30 20:30] Aioxas opened #2280 "[Core] DataManager/Bundled_Data_Path cannot be used in __init__"
# Other bugs

#### What were you trying to do?

have bundled_data_path in a variable initialized in `__init__`

#### What were you expecting to happen?

Successful initialization of the variable with the data path

#### What actually happened?

Init occurred faster than the bundled data folder creation, causing the cog to fail with a "dir could not be found"

#### How can we reproduce this issue?

[2018-10-31 09:00] mercster commented on #12
Lord of The Rings please!  Needed desperately! :)

[2018-10-31 09:14] locastan commented on #2276
Replacing the @myfunction.error decorator with this function led to the same result:

    async def __error(self, ctx: commands.Context, error):
        if isinstance(error, commands.CommandOnCooldown):
            await ctx.send("I feel a little tired now. Ask me again in {:.0f}s".format(error.retry_after))

[2018-11-05 09:02] Malarne commented on #1398
https://github.com/Malarne/discord_cogs

- Boobs cog: update for v3 of oboobs cog by Mash
- Leveler cog: as name says, a leveler for v3, strings are only in french for now, feel free to make a PR to translate to english or add support for i18N (too lazy LUL)
- Roles cog: an old cog that i need to update, do not use that lol

[2018-11-05 21:47] Tobotimus commented on #2260
We're already requiring the use of IUS for installing Python, we just need to change the requirement from `git` to `git2u`

[2018-11-08 15:42] Kowlin commented on #1398
Oh boy, I hope there aren't requirements on this, but ehh. I'm just gonna dump it here cause why now :P.

https://github.com/Kowlin/Sentinel My collection of cogs (which is small ATM, but who said small things are bad :smirk:)

 * Massmove, port from v2, mass move members over to another channel or the AFK channel
 * Freshmeat, a port from Irdumb's v2 alias to show the latest members in X hours.

[2018-11-09 23:25] Sonicwave commented on #12
Is the trivia file allowed to have blank/empty lines?

[2018-11-10 13:13] Twentysix26 commented on #12
@Sonicwave yes, if I recall correctly it discards invalid lines so you could even put comments to better organize your list

[2018-11-10 23:20] GamerGirl1995 opened #2292 "[Filter] [V3] Removes words not added to the filter."
# Other bugs

#### What were you trying to do?

we added certain words to the filter to be filtered on the discord server.
and we want the words that consist of the bad word to remain on the channel.

#### What were you expecting to happen?

for the word consisting of the bad. so not being the bad word.
For example: ass is on the filter but if someone then types assist or assistant it should leave

[2018-11-11 21:38] Ianardo-DiCaprio commented on #2292
I pretty sure there was a PR that added this recently so I'm sure this will be available in a update in the near future.

[2018-11-11 22:14] Purrhood commented on #1398
sorry I deleted my other account ^
                                                      |

[2018-11-12 08:31] Shio17 opened #2293 "git"
Red launcher said
  Error [WinError 2] 지정된 파일을 찾을 수 없습니다 while executing command git clone -q
Cannot find command 'git' - do you have 'git' installed and in your PATH?
this
how can i solve this?

[2018-11-12 11:09] GamerGirl1995 commented on #2293
by installing git.

https://git-scm.com/downloads

[2018-11-12 15:22] bobloy commented on #1398
@Purrhood your cogs need an `info.json` file each to be installed via downloader properly. Take a look at one of the other repos for an example.

Also, a description of what each of the cogs is would help

[2018-11-12 21:10] Kowlin opened #2295 "[CustomCom] CC list markdown does not properly escape."
The CC list does not properly escape markdown causing the bellow issue.

![image](https://user-images.githubusercontent.com/10947836/48375198-77f18f00-e6c7-11e8-8a3c-1481266bd43c.png)

[2018-11-12 21:22] Kowlin opened #2296 "[Mod] Voice checks"
I'm talking about [these checks](https://github.com/Cog-Creators/Red-DiscordBot/blob/V3/develop/redbot/cogs/mod/checks.py), there are currently 2 issues with these checks.

The first issue is that these checks **do not** respect Permissions and will ignore allows or denies, since they do not use the core ``mod_or_permissions`` check for example.

The second issue is a bit more ingrained in the che

[2018-11-12 22:09] Purrhood commented on #1398
Thank you bobloy..

[2018-11-12 23:05] Kowlin commented on #2292
Pending PR: https://github.com/Cog-Creators/Red-DiscordBot/pull/2262

[2018-11-13 06:15] Shio17 commented on #2293
i download it but i have that error

[2018-11-13 13:29] bobloy commented on #2293
Please use the docs to install Red and don't skip any steps.
https://twentysix26.github.io/Red-Docs/red_install_windows/

If you have any further errors, join our discord and ask in the #support channel
https://discord.gg/red

[2018-11-13 13:31] GamerGirl1995 commented on #2293
@bobloy that install doc is wrong though, because current Red bot does require Python 3.6.6 to run.
in that install doc it says to not install Python 3.6 or higher, but it is required now.

@zetablack you need to install python 3.6.6

[2018-11-13 14:06] yamikaitou commented on #2293
@gamergirl1995 Wrong, Red v3 requires 3.6.6. Red v2 still uses 3.5.4 on Windows.

[2018-11-13 15:09] Shio17 commented on #2293
so should i download python 3..6.6?

[2018-11-13 15:11] yamikaitou commented on #2293
No, please follow the guide you were linked to

[2018-11-13 20:34] mikeshardmind commented on #2280
I cannot replicate this, please check the docs regarding this to ensure you remembered to initialize bundled data properly in your setup function prior to cog object creation.

[2018-11-13 20:37] bobloy commented on #2280
A setup function like this:
[code]
That would run the `__init__` of `MyCog` before the `load_bundled_data` has been run.
This is an ordering issue, not really a bug.

[2018-11-13 21:25] Sonicwave opened #2297 "Unrelated questions on the default "Games" trivia list"
[Link](https://github.com/Cog-Creators/Red-DiscordBot/blob/develop/data/trivia/games.txt) for reference

Items 103-115 on the default "Games" trivia list (except for 109 and 113) all seem to be unrelated to video or board games. The LinkedIn slogan question (108) is also not on the Slogans trivia list.

Edit: There are also several questions missing punctuation, namely the ones on lines 116, 145,

[2018-11-13 22:30] Sonicwave opened #2298 "Default "Entertainment" trivia list contains incorrect facts about Beethoven"
The Entertainment trivia list contains two facts about Beethoven that are incorrect ([link](https://github.com/Cog-Creators/Red-DiscordBot/blob/develop/data/trivia/entertainment.txt) for reference):

Wikipedia however states that Beethoven finished 9 symphonies and the 10th was the one that was unfinished. This is also stated at the question at line 504, "_What composer was working on his 10th sym